<article class="article fade-in two">
  <header class="article__header">
    <h2>Serving Extended Family Members - SEFAM</h2>
    <h4>Pat Oelwein and Greg Schell</h4>
  </header>

  <blockquote>&quot;The SEFAM programs, Fathers Network and Sibling Support Project, are the longest on-going programs that serve fathers
    and sibling of children with disabilities.&quot;</blockquote>
  <p>The initial inspiration for the Fathers Program was Sam Delaney's presentation about the class for fathers he taught at
    Seattle Community College. Graduate students, who were working in the Down Syndrome Program, saw wonderful possibilities
    of implementing Sam's model in the Down Syndrome Program and approached Dr. Alice Hayden. Dr. Hayden thought this was
    a wonderful idea; however, these graduate students were women, and Sam's model required a father with an infant or toddler
    to teach class. Don Meyer was the only male graduate student available, but he was not a father. To solve this problem,
    Don used a large Raggedy Anne doll as his &lsquo;baby&rsquo; as he led the class in fun activities for the fathers and
    their children. This was a fun, light-hearted touch that added to the comfortable, relaxed atmosphere in the Fathers
    Program.</p>

  <p>Sam Delaney was a graduate student in psychology, and the Fathers Program became the research project for his doctorate
    dissertation. When Dr. Rebecca Fewell became the project director of the Down Syndrome Program, she was most impressed
    with this innovative program that addressed the needs of fathers. She submitted a proposal and received funding for SEFAM
    with programs to serve fathers, siblings, and grandparents. Greg Schell, the father of a child with Down syndrome and
    a graduate student at the time, became the coordinator of the Fathers Program. Don Meyer became the coordinator of the
    Sibling Program.</p>

  <p>Don has made a lifetime career of serving siblings of children with special needs. He started a movement for sibling support
    that continues today and has spread &lsquo;around the world&rsquo; through his Sibling Support Project. Don is the senior
    author or editor of numerous articles and six books. (See Biographies &ndash; Don Meyer)</p>

  <p>Greg Schell, a retired public school principal, has returned to the field as the director of the Fathers Network at the
    Kindering Center. The Kindering Center replicated the original program and has provided continuous service to fathers
    in the Seattle area since it began. The center is now the home of the Sibling Support Project as well. Two outstanding
    programs, and two outstanding educators are back together again!</p>

  <p><a href="http://fathersnetwork.org/">fathersnetwork.org</a></p>
  <p><a href="http://www.siblingsupport.org/sibshop/index_html">siblingsupport.org</a></p>

  <h4>Greg Schell, Director, Fathers Network, Kindering Center
  </h4>
  <p>Forty years! The Down Syndrome Program was awesome, and vital to us as a family. Our lives were changed dramatically for
    the better just by knowing Pat and Val. Everyone in the program really cared, really knew what they were doing, and delivered
    enormously valuable information and support to us, and others having children with Down syndrome.
  </p>
  <p>Greg Schell
  </p>
</article>
