<article class="article fade-in two">
  <header class="article__header">
    <h2>A Tale of Two Sisters</h2>
    <h4>Kim Lundy</h4>
  </header>

  <figure class="figure">
    <img class="figure__item image" src="./assets/images/heather1.jpg" alt="Heather and Kim">
  </figure>
  <p>My younger sister, Heather, was born in May 1976, when I was four years old. My dad and I were in the waiting room of Northwest
    Hospital at the very moment of her birth. I remember a doctor coming to speak with my dad, and then watching television
    alone in the waiting room for a long time. I found out many years later that the doctor came out to tell my dad, &ldquo;It
    looks like we have a bad baby here.&rdquo; Little did we all know how profoundly untrue that statement was.</p>

  <p>One of my earlier memories is having ice cream with my mom at the University of Washington Medical Center while Heather
    attended the early intervention classes of the Down Syndrome Program at the Experimental Education Unit. As we both grew,
    I remember going into her preschool classes during snack time to model appropriate language and manners. Little did we
    all know what a profound impact these positive experiences and others at the good old EEU would have on my life.</p>

  <figure class="figure">
    <img class="figure__item image" src="./assets/images/heather2.jpg" alt="Heather and Kim">
  </figure>
  <p>Around the time I was ten or so, along came these two funny guys, Don and Greg, who had already started a support group
    for fathers of kids with disabilities. They quickly saw a need for support for other family members and decided to find
    out what exactly would happen if siblings of kids with disabilities were provided a support group of sorts. They named
    this group 'Sibshop.'' Little did we all know what a profound impact they would have on the lives of we sibs.</p>

  <p>My first Sibshop meeting was THE first Sibshop meeting! I don't remember too many specifics other than realizing for the
    first time in my life, there were other kids who had brothers and sisters with disabilities. It wasn't just me! I remember
    experiencing a ten-year-old sense of relief that I wasn't in my boat alone. Oh, and we created a wonderfully delicious
    lunch all together, and finally got to play with all the cool physical therapy equipment in the EEU gym. Throughout my
    Sibshop years, I have many fond memories of "Dear Aunt Blabby,"" making yummy pizza and pasta in the EEU kitchen, playing
    fun games in the EEU gym, sunny summer weekends at Fort Flagler, and making new friends, friends who completely understood
    what it was like to have a sibling with a disability.</p>

  <figure class="figure">
    <img class="figure__item image" src="./assets/images/heather3.jpg" alt="Heather and Kim">
  </figure>
  <p>And so begins my tale of two sisters: One sister with Down Syndrome, one sister without; one Down Syndrome Program at the
    Experimental Education Unit; two great guys named Don and Greg; and one sibling support program called Sibshop. Here's
    how my tale turns out:</p>

  <p>My sister, Heather, has grown up to be an extraordinary person who loves country music, performing karaoke (especially
    to John Denver's &ldquo;Take Me Home, Country Roads&rdquo;), dancing, writing poetry and short stories, parties, Special
    Olympics, shopping, friends, traveling, reading, working with young children, bingo, being an aunt, and who just so happens
    to have Down Syndrome. She has achieved some amazing accomplishments in her life, and continues to make her family so
    proud with each passing day.</p>

  <p>The Down Syndrome Program went on to impact countless children, their parents, and therefore entire families in boundless
    ways. Yes, it successfully teaches children with Down Syndrome, both nationally and internationally, and this in itself
    is a great achievement; but I think most importantly, it gives families hope: Hope that their children will learn; hope
    that life goes on after such a diagnosis; hope that their children will grow up and make meaningful contributions to
    society. The Down Syndrome Program that Heather was part of also created a very close-knit group of parents who continue
    to be a support to one another to this very day, even though they have spread across the country. Learning, hope, and
    good friends, who could ask for anything more?</p>

  <figure class="figure">
    <img class="figure__item image" src="./assets/images/heather4.jpg" alt="Heather and Kim">
  </figure>
  <p>Sibshop has gone on to become a superb support program, dedicated to the life-long concerns of brothers and sisters of
    people who have special health, developmental, or mental health concerns, (taken from siblingsupport.org). Disabilities
    impact the lives of all family members, and Sibshop seeks to increase the peer support and information opportunities
    for brothers and sisters of people with special needs and to increase parents, and providers, understanding of sibling
    issues (taken from siblingsupport.org). For me personally, Sibshop--in amazingly fun ways--helped me come to terms with
    having a sister with a disability and all the feelings and anxiety that are part of this. Sibshop helped me realize that
    I am not alone in my concerns and joys about Heather, and in so doing, made me a better sister.</p>

  <p>As for me, Heather's sister, I have discovered what a small world it really is and that life sometimes comes full circle!
    Because of the Down Syndrome Program, my amazing sister, a set of parents too wonderful for words and Sibshop, I realized
    that I was comfortable around people with disabilities and that I especially enjoyed teaching. In 1996, I earned my Master's
    Degree in Early Childhood Special Education from the University of Washington and while doing so, found myself teaching
    young children in the very same school mentioned at the beginning of my story: the Experimental Education Unit.</p>

  <figure class="figure">
    <img class="figure__item image" src="./assets/images/heather5.jpg" alt="Heather and Kim">
  </figure>
  <p>I offer my congratulations and sincere appreciation to the Down Syndrome Program for the many ways in which you have positively
    influenced the lives of my sister, my parents, me, and other families like ours throughout the world.</p>

  <p>And to those two funny guys, Don and Greg, and to Sibshop, I offer my heartfelt thanks for the way you changed my life.</p>

  <p>Kim Lundy May 2011</p>
</article>
