<article class="article fade-in two">
  <header class="article__header">
    <h2>Model Preschool Outreach-HCEEP: <br>1980-1989</h2>
    <h4>Patricia Oelwein</h4>
  </header>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/model1.jpg" alt="Guatemala 1985: Pat Oelwein--Maria Maegli and daughters, Tita &amp; Misha--Alison Oelwein (Pat has been to Guatemala, once for a workshop, and twice to present at Central American Conferences.">
    <figcaption class="figure__item caption">Guatemala 1985: Pat Oelwein--Maria Maegli and daughters, Tita &amp; Misha--Alison Oelwein (Pat has been to Guatemala, once for a workshop, and twice to present at Central American Conferences.</figcaption>
  </figure>

  <h4>Child Development Center, Sumner, Washington</h4>
  <p>In the early 1980&rsquo;s, with the Down syndrome research projects completed, it was time to move on. Dr. Dmitriev retired from the UW, but continued to be very active as a consultant in the field. The Child Development Center, Sumner, Washington, the first replication of the Down Syndrome Program, became the demonstration site for the model program. The infants and preschool children who had been in the Down Syndrome Programs were now included in new research projects at the EEU. (See sidebar
    &lsquo;Replications&rsquo;)</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/model2.jpg" alt="Pat training in Guatemala-1985.">
    <figcaption class="figure__item caption">Pat training in Guatemala-1985.</figcaption>
  </figure>
  <h4>New directors</h4>

  <p>Dr. Haring and Dr. Hayden moved to upper campus to continue their research projects. Dr. Joseph Jenkins became director of the EEU, and Dr. Rebecca Fewell became director of Model Preschool Center and the project director for Model Preschool Outreach.
    I became coordinator of Model Preschool Outreach, for both EEU validated models, Communication and Down Syndrome.</p>

  <p>Dr. Fewell was supportive, enthusiastic, and interested in Down syndrome. She applied for and received funding for many research projects in which infants and children with Down syndrome were included. Among these was SEFAM (Serving Extended Family Members), which extended the existing Fathers Program to include siblings and grandparents. The Sibling Support Project and the Fathers Program continue to this day. New training materials and videotapes, such as <q>Profiles of Patrick</q>, <q>My Turn, Your Turn</q>, <q>Learning on the Go</q>, and <q>Like an Ordinary Brother</q> were produced under her direction. (See sidebar, Fathers Program and Sibling Support)</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/model3.jpg" alt="Pat Oelwein &amp; Moira Pieterse at International Conference on Down Syndrome, Brighton England, 1986.">
    <figcaption class="figure__item caption">Pat Oelwein &amp; Moira Pieterse at International Conference on Down Syndrome, Brighton, England, 1986.</figcaption>
  </figure>
  <h4>Summer workshops</h4>

  <p>Summer Workshops remained popular and the attendance increased to 85 participants, including people from Japan, Guatemala, Spain, Columbia, Indonesia, Mexico, Italy, Honduras, Canada, Saudi Arabia, and states throughout the USA.</p>

  <h4>International outreach trips</h4>
  <p>It was during this period that both Val and I went on speaking tours to Japan. On two occasions Patrick Evezich and his parents went with each of us once. Rebecca Fewell traveled to Japan, India, England and Hong Kong, representing the program. Meanwhile,
    my work took me to Spain, England, Italy, Jamaica, Guatemala, Canada, Korea and Venezuela. Continuing her work as an educator and lecturer, Val also traveled to Canada, England, Italy and Spain as well as Scotland, Indonesia, Hong Kong, Mexico and
    Russia. (See sidebar, &lsquo;Profiles of Pioneer Students: Patrick Evezich)</p>

  <figure class="figure">

    <img class="figure__item image" src="assets/images/model4.jpg" alt="With trainees from 'Castle for Children', Dr. Toshio Takai's program, Osaka, Japan 1986.  The staff came to the summer workshops as well.">
    <figcaption class="figure__item caption">With trainees from 'Castle for Children', Dr. Toshio Takai's program, Osaka, Japan 1986. The staff came to the summer workshops as well.</figcaption>
  </figure>

  <h4>In-service training</h4>
  <p>At the end of 1987, HCEEP Outreach funding came to an end, and Dr. Fewell promptly made me coordinator of an in-service grant that brought instructors from &lsquo;state of the art&rsquo; programs to the EEU to teach inservice weekend workshops for extension credit. This position enabled me to continue my outreach work, training and maintaining replication sites that reported data, which remained impressive. The results were published in journal articles.</p>
</article>
