<header class="subheader">
  <ul class="subheader__nav literacy">
    <li routerLinkActive="active" class="nav-item"><a routerLink="recollections" class="nav-link">Literacy Skill Development</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="chicago" class="nav-link">Gigi’s Playhouse</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="irvine" class="nav-link">So Happy To Learn</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="sooregon" class="nav-link">"Reading About Me"</a></li>
  </ul>
</header>
<router-outlet></router-outlet>
