<article class="article fade-in two">
  <header class="article__header">
    <h1>A Tribute to Glenn Farmer, <br>1968-1999</h1>
    <blockquote>
      <q>Let me tell you about Glenn.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/glenn2.jpg" alt="Glenn, in PE at Green Lake with classmates, Patrick, Dennis, and Lupita." />
      <figcaption class="figure__item caption">
        Glenn, in PE at Green Lake with classmates, Patrick, Dennis, and Lupita.
      </figcaption>
    </figure>
  </header>

  <p>Glenn Farmer&#8217;s parents learned about the Down Syndrome Program when they attended an open house at the CDMRC and EEU.  His mother immediately enrolled 4 year old Glenn in the program. He remained with the &#8216;first class&#8217; throughout his school career, attending the AMDG program at Green Lake Elementary, Meany Middle School, and graduated from Nathan Hale High School with his EEU classmates.  After graduation, Glenn became a merchandiser in a large drug store, and worked at the same job until he passed away, due to heart failure, at the age of 30.
  </p>
  <p>Glenn loved his job and his co-workers, and all that knew him loved Glenn. His father told how Glenn, during his last days in the hospital, asked him, &ldquo;When can I go back to work?&rdquo;  At his memorial, there was standing room only.  He had touched the lives of many.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/glenn1.jpg" alt="Glenn and Patrick sharing a Weekly Reader in kindergarten." />
    <figcaption class="figure__item caption">
      Glenn and Patrick sharing a Weekly Reader in kindergarten.
    </figcaption>
  </figure>

  <p>When Glenn was in job training at the UW hospital, I visited him, and he demonstrated, with pride and enthusiasm (he was teaching me something) how he replaced medical supplies on huge supply carousels that he moved by pressing a control with his foot.  He scanned the shelves, and read the number on the shelf that needed to be replenished. He then went to the supply room and found the box with the matching number, opened the box, and put the contents on the correct shelf.  I was impressed!
  </p>
  <p>Later, I was having lunch with the trainees which included Glenn, Martha and Dan, my former students, and Rob, who had severe physical impairments and used an electric wheelchair.  Rob entered the conversation and said, <q>Mrs. Oelwein, let me tell you about Glenn.  When it is time to go, Glenn always remembers to get my coat and helps me put it on. He always makes sure that doors are open for me and stays open until I am through the doorway.  And when I roll off the lift into the bus, Glenn is always waiting to strap me in.</q>
  </p>
  <p>It was this sensitivity and caring that made Glenn an extraordinary person the kind of person we can all aspire to be.  We lost a wonderful human being February 10, 1999.  He knew how to love, and he was loved.
  </p>
  <p class="bottomfill">Patricia Oelwein
  </p>
</article>
