<article class="article fade-in two">
  <header class="article__header">
    <h1>Lupita Cano</h1>
    <blockquote>
      <q>Who would have imagined that one day she would be an accomplished painter and own her own business.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/lupita1.jpg" alt="Lupita standing by &ldquo;Merboy&rdquo;, solo show at the Vision Gallery, Seattle, 2007." />
      <figcaption class="figure__item caption">
        Lupita standing by "Merboy", solo show at the Vision Gallery, Seattle, 2007.
      </figcaption>
    </figure>
  </header>

  <p>Who would have imagined that one day she would be an accomplished abstract painter and business owner.</p>
  <p>When Lupita was born 42 years ago, who would have imagined that one day she would be an accomplished abstract painter, and business owner!  Certainly not her doctors and other professionals who suggested that she might not ever learn to talk or walk.  But with love, support, persistence and dedication, Lupita and her family proved them wrong, and then some.
  </p>
  <p>During those early years, as Delia sought knowledge about Down syndrome, she discovered the U of W program for infants and toddlers.  This was a defining moment for Lupita and her family.  Were it not for that early intervention and the dedicated and caring individuals like Val Dmitriev and Pat Oelwein who worked with and on behalf of Lupita and the other children, Lupita would certainly not be where she is today.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/peace.jpg" alt="Peace... That's How It Should Be." /><br />
    <figcaption class="figure__item caption">
      <q>Peace... That&#8217;s How It Should Be</q>
    </figcaption>
  </figure>
  <p>After the solid foundation she received at the EEU, Lupita entered the public school system where she continued to learn and grow.  It was a very proud moment for Lupita and her parents when she graduated from Nathan Hale High School alongside her classmates and friends.  It was also a little scary not knowing what lay ahead.
  </p>
  <p>Lupita had always been a creative and imaginative child, but it wasn&rsquo;t until early adulthood that she discovered her passion for creating art.  Upon graduation she prepared to enter the work force by volunteering at a food bank, bookstore and nursing home. Eventually she landed a paying job and went on to work for Metro, Nordstrom, The Gap, and others. However, none of these jobs were quite the right fit for Lupita&rsquo;s creative mindset and exuberant personality.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/lupita3.jpg" alt="Lupita in Kindergarten." /><br />
    <figcaption class="figure__item caption">
      Lupita in Kindergarten.
    </figcaption>
  </figure>

  <p>During this time she had begun to take art classes through Seattle Parks and found that she loved to paint and possessed a natural talent.  Painting gave her pleasure, purpose and a sense of freedom and limitless possibilities not readily found in other aspects of her life.  Before long the basement of her parent&rsquo;s home was overflowing with her vibrant abstract works.  One day when Lupita, her job coach and family where discussing job-finding strategies, they decided <q>Why not develop a job around her art?</q>  So in 2001, with support from the state DVR, as well as family and friends, AE Designs by Lupita was born.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/lupita4.jpg" alt="Lupita at Green Lake Elementary with Kristin Nicholls." />
    <figcaption class="figure__item caption">
      Lupita at Green Lake Elementary with Kristin Nicholls.
    </figcaption>
  </figure>

  <p>Lupita now exhibits and sells her original paintings as well as reproductions in the form of cards, prints, mugs and t-shirts.  She is a regular vendor at local and national disability conferences, art walks and craft fairs.  She recently exhibited as part of a group show at Seattle City Hall, and currently has a piece on display in the No Boundaries: "Metamorphosis" 2010-2011 traveling show (<q>Cool Mint Speed</q>, at Harborview Hospital through April 15).  Lupita also regularly exhibits her paintings at the Bambu Organic Salon in Fremont.
  </p>
  <p>Lupita lives a full life at home with her mother, Delia.  She is very close to her siblings and extended family, and is blessed with many wonderful lifelong friends.  Lupita continues to create and dream and wish.  She is very proud to own her own business and especially happy to be able to share her gifts and to inspire others to listen to their hearts and take a chance.
  </p>
  <p>Venus Bravo De Rueda<br />
    April 2011</p>
  <p><a href="http://www.lupitacanoartist.com/">www.lupitacanoartist.com</a></p>
</article>
