<section class="program">
  <div class="sidebar">
    <ul class="sidebar__nav">
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="overview" fragment="article" class="nav-link">Overview</a></li>
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="history" class="nav-link">History of the Down Syndrome Program</a></li>
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="replications" class="nav-link">Replications</a></li>
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="fathers" class="nav-link">Fathers and Siblings</a></li>
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="literacy" class="nav-link">Literacy Programs</a></li>
      <li routerLinkActive="active" class="nav-item nav-program"><a routerLink="international" class="nav-link">International Outreach</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
