<article class="article fade-in two">
  <header class="article__header">
    <h1>Alison Sienkewicz</h1>
    <blockquote>
      <q>She composes and reads email and checks the paper regularly for movies and musical events that she enjoys.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/alison1.jpg" alt="Alison Sienkewicz" />
      <figcaption class="figure__item caption">
        Alison Sienkewicz
      </figcaption>
    </figure>
  </header>


  <p>Alison was born April 6, 1970. I&rsquo;ll never forget the proclamation the obstetrician made when she was born. <q>Your baby is a mongoloid Joanie, and you&rsquo;ll have to put her in an institution, but there are no good ones in Washington State.</q>  For many years afterward, I was invited to speak to medical students about how it felt to deliver a child you weren&rsquo;t expecting and what was the best thing to say to parents!
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/alison2.jpg" alt="Alison starting her 'walk on the tightrope' in kindergarten--ballet circus unit." />
    <figcaption class="figure__item caption">
      Alison starting her 'walk on the tightrope' in kindergarten--ballet circus unit.
    </figcaption>
  </figure>

  <p>Before going to the EEU Alison was involved in an infant stimulation project with Dr. Howenstein at Fircrest School. This was a good foundation for learning behavior modification techniques.
  </p>
  <p>We felt extremely fortunate to be involved in the model preschool program with Teacher Pat, Val and all the energetic and supportive graduate students in special education. It was an exciting time to be in such a progressive program.   And it gave us the confidence that Alison had the capability to succeed at far greater things than we might have expected.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/alison3.jpg" alt="Alison standing on one foot at the end of her performance." />
    <figcaption class="figure__item caption">
      Alison standing on one foot at the end of her performance.
    </figcaption>
  </figure>

  <p>Alison went on to graduate from high school.  She worked for several years at Pizza Hut and at the Faculty Club at the UW.  Recently she decided to <q>retire</q> after seeing so many friends and family do the same. Life for her now involves doing individual sports like golf and tennis (she was a Down Syndrome Community calendar girl), travelling, cooking, and keeping house with her three housemates. She composes and reads email and checks the paper regularly for movies and musical events that she enjoys. She loves dogs, dancing and country music.
  </p>
  <p class="bottomfill">Joan (not Joanie) Sienkiewicz</p>
</article>
