<article class="article fade-in two">
  <header class="article__header">
    <h2>Fundaci&oacute; Catalana Sindrome de Down</h2>
    <h4> Barcelona, Spain Montserrat Trueta</h4>
  </header>

  <blockquote><q>Today we have more than 2000 case histories run by 18 medical specialists.</q></blockquote>

  <p>The world became a wonderful place again when in 1974 I discovered the Child Development and Mental Retardation Center's Experimental Education Unit at the University of Washington. I learned about it through my father, who was Professor of Orthopedic Surgery at the University of Oxford, England. At that time, my son Andy with Down syndrome was 2 years old. I wrote to Val Dmitriev, <q>My son with Down syndrome aged 2 is healthy and has a vocabulary of 80 words (although not all were spoken clearly). I know that he will have limitations, but can you give me advice on how I can help him in his development.</q>  In this country, at the time my son was born, I was told that I could do nothing to help him. The doctor said: <q>Feed him when he is hungry, cover him if he is cold, and bring him back when he is 6 years old and we will see where he can be placed.</q></p>

  <p>The first letter I received from Val as an answer to my letter, made a great impact on me. To begin with she told me that 80 words for a 2 year old was extremely good. Then she said something that I have remembered all my life. She said: <q>Never again say that Andy will have limits, because if you really think this, you are already limiting him.</q>  Then she added that there was a great many things to be done and that the Experimental Education Unit would send me programs.  So, at last I was able to have HOPE !</p>

  <p>The programs sent to me were an incredible help. They were simple and specific, and I had the good fortune to find an enthusiastic young girl who came to live with us and put the programs into practice regularly. Andy's progress was fantastic, and it was not very long before I was able to travel to Seattle to visit the program in person.</p>

  <p>In Seattle I met Val Dmitriev and Pat Oelwein, and I was able to see the program with all the learning babies. I came home full of enthusiasm, loaded with slides and cassettes that I had translated into Catalan and Spanish. I very soon decided that I could not keep all this information to myself and wanted to help other parents and their children. So I began touring the country with the good information. It was not very long before I realized that this information had to be given by professionals to professionals. That is when I decided to invite first Dr. Val Dmitriev, and later Pat Oelwein so that in 2 years they personally gave 5 seminars for professionals and parents in Barcelona.</p>

  <p>Together with a group of parents and professionals, in 1984 we founded the Fundaci&oacute; Catalana Sindrome de Down. Our program of early intervention was acknowledged by the University of Washington, and we were able to help many parents and their children, progressively increasing services and programs to fit their needs as they became older.</p>

  <p>Currently the Foundation has persons with Down syndrome and with other intellectual disabilities. Inclusion in society is our main aim, and we back all integrated projects. The DMS is the Medical Center, specialized in Down Syndrome, and apart from research and publications we have more than 2000 case histories run by 18 medical specialists.</p>

  <p>Finally, I should like to say that your program had an enormous impact on me, on my family, on my son, Andy (who currently works in a savings bank and has been living independently with his partner for the last 10 years), and also to Catalonia and the whole of Spain. Thank you.</p>

  <p>Congratulations. </p>
</article>
