$color-grey-light: rgba(223, 223, 223, 0.3);
$color-grey-medium: #777777;
$color-grey-dark: #444444;

$color-UW-purple: #4b2e83;
$color-UW-purple-light: rgba(75, 46, 131, 0.1);
$color-UW-gold: #b7a57a;

$color-white: #fff;
$color-black: #000;
$color-blue: #0f1fb3;

