<article class="article fade-in two">
  <header class="article__header">
    <h2>CHDD Down Syndrome Program: <br>1990-1997</h2>
    <h4>Patricia Oelwein</h4>
  </header>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/chdd1.jpg" alt="University Week--Story about Pat and her book, 1995.">
    <figcaption class="figure__item caption">University Week--Story about Pat and her book, 1995.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/chdd2.jpg" alt="Pat Oelwein training Japanese Special Education tour group, 1990 at the CHDD.">
    <figcaption class="figure__item caption">Pat Oelwein training Japanese Special Education tour group, 1990 at the CHDD.</figcaption>
  </figure>
  <p>When the in-service grant ended December 1989, Dr. Michael Guralnick, director of the Center on Human Development and Disability
    (CHDD) asked me to continue the Down Syndrome Program at CHDD. In this position, I teamed with the Down Syndrome Community
    to continue the workshops and conferences at the UW; counseled parents; supported research; and provided consultations
    and training for school districts. This being a part-time position, I was provided with a computer in the place of a
    secretary. As I became proficient with this new tool, and fell for it head over heels, it brought forth new accomplishments,
    among them, <span class="booktitle"><q>Teaching Reading to Children with Down Syndrome</q></span> (1995). (See sidebar,
    Literacy Programs)
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/chdd3.jpg" alt="Pat Oelwein with Japanese Special Education Tour group, 1990.">
    <figcaption class="figure__item caption">Pat Oelwein with Japanese Special Education Tour group, 1990.</figcaption>
  </figure>
  <p>The reading book had been eagerly anticipated, and upon its publication, the demand for workshops and presentations increased;
    in addition, I had made a commitment to provide on-going consultant services to the Al-Nahda School for Down Syndrome
    in Riyadh, Saudi Arabia. In 1997, after 25 years at the University of Washington, I retired, hoping to slow down and
    have more time to relax, and hopefully indulge in other interests between commitments.
  </p>

</article>
