<article class="article fade-in two">
  <header class="article__header">
    <h2>Child Development Center <br>Sumner, Washington</h2>
    <h4>Louise Dobson Yochum</h4>
    <h6>Founder and Director, Child Development Center in Sumner, Washington</h6>
  </header>

  <blockquote><q>Dale Evans read the newspaper story about our program and picked up the phone and called me.</q></blockquote>
  <h4>First replication (service only) of the University of Washington Down Syndrome Program.</h4>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/DebbieDobson.jpg" alt="Debbie Dobson">
    <figcaption class="figure__item caption">Debbie Dobson</figcaption>
  </figure>
  <p>After my daughter, Debbie Dobson, was born with Down syndrome, November 29, 1971, I read Dale Evan&rsquo;s book, Angel
    Unaware. It changed my life. I resolved to do everything possible to help my daughter and give hope to other families
    with a child with Down syndrome. There were no resources for Down syndrome or early intervention in our county, but my
    resolve led me to the Down Syndrome Program at the University of Washington. I made an appointment for 2:00 on what turned
    out to be the day that a heavy snowstorm covered the area. But nothing would stop me from putting my precious baby Debbie
    in our motor home camper and driving the 35 miles to the University of Washington.</p>

  <p>Val Dmitriev and Pat Oelwein were waiting for Debbie and me, and they told me what I wanted to hear. I enrolled Debbie
    in the Infant Learning Program, and made the commitment to bring her to the program once a week. Val was wonderful! Not
    only was she a great teacher for Debbie and me, she used Debbie as a model to demonstrate teaching techniques at her
    workshops and used her photos in slide shows. I was so proud of my baby!</p>

  <p>When Debbie was 18 months old and promoted to the toddler preschool that met four days a week, I decided that I was not
    going to bring Debbie to preschool. I was going to bring a preschool to Debbie, and to other children in my county. With
    my husband, Alden, behind the scenes writing grants and raising money, and Val and Pat as consultants, we opened the
    Child Development Center, serving infants and toddlers with Down syndrome, in the First Christian Church in Sumner, Washington.
    The local paper had a front-page story about the opening of the school with a photo of the three of us mothers standing
    in our aprons with the center&rsquo;s kite logo on the front. The article told my story about how the book, <span class="booktitle"><q>Angel Unaware</q></span>,
    had inspired me. </p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/yokum1.jpg" alt="Louise Dobson Yochum, Rusty Rogers &amp; his son.">
    <figcaption class="figure__item caption">Louise Dobson Yochum, Rusty Rogers &amp; his son.</figcaption>
  </figure>
  <p>It so happened that Roy Rogers and Dale Evans were performing at the Western Washington State Fair in near-by Puyallup.
    Dale Evans read the newspaper story about our program and picked up the phone and called me. I was so excited, I almost
    dropped the phone! She congratulated me, told me of wonderful things they were doing for children with Down syndrome
    in Europe, wished me luck and success, and encouraged me to continue the good work as there was so much that could be
    done. That was in 1973. The Child Development Center lasted 30 years and served as a demonstration site for the UW Model
    Program for Children with Down Syndrome.</p>

  <p>On the 25th anniversary of the Child Development Center, Alden and I, with our best friends, went to California to celebrate
    the event. Again, I was in for a wonderful surprise. We drove into Victorville in the wee hours of the morning, and Alden
    turned into the drive of the Roy Rogers &amp; Dale Evans Museum. Dale Evans was waiting for us. (Alden was a wonderful
    man!) She greeted us warmly, remembering our conversation that had occurred 25 years earlier. Holding my hands, she told
    me that I was a wonderful lady, and she was so grateful that I had continued the program and helped so many families
    over the years to have hope and see such results for these special people with Down syndrome.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/yokum2.jpg" alt="Ralph and Louise Yochum.">
    <figcaption class="figure__item caption">Ralph and Louise Yochum</figcaption>
  </figure>
  <p>All of this could not have happened without the wonderful program and the Experimental Education Unit, and Val Dmitriev
    and Pat Oelwein who provided on-going support and training. For thirty years I had a wonderful career that gave me the
    opportunity to provide early intervention to help children and their families get off to a good start, and to give them
    hope for the future.</p>

  <p>Alden passed away in 2003. I am now retired, married to another wonderful man, Ralph Yochum, and Debbie lives at home with
    us. She works at the Puyallup Activity Center, and from there she goes to the St. Francis House with her job coach. She
    is a very happy adult with good language skills, especially when talking on her cell phone. She is very smart, can do
    many things, and has a good quality of life.</p>

  <p>Louise Dobson Yochum January 18, 2011</p>
</article>
