<article class="article fade-in two">
  <header class="article__header">
    <h2>SAUT Down Syndrome Model Programs: <br>1991-present</h2>
    <h4>Patricia Oelwein</h4>
  </header>

  <h4>Second &lsquo;opportunity of a lifetime&rsquo; in Riyadh, Saudi Arabia</h4>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/saut1.jpg" alt="Ahmad, bagging groceries--has been working at the Euro Marche since he graduated for the Saut Community-based Vocational Program.">
    <figcaption class="figure__item caption">Ahmad, bagging groceries, has been working at the Euro Marche since he graduated for the Saut Community-based Vocational Program.</figcaption>
  </figure>
  <p>A generation after my first, I had a second &lsquo;opportunity of a lifetime&rsquo; &ndash; to develop specialized educational
    programs for individuals with Down syndrome from birth to adulthood at the Al-Nahda School for Down Syndrome in Riyadh,
    Saudi Arabia.</p>

  <p>The school had started in 1987 as a preschool with four children, and when I arrived four years later, it had grown to
    include an infant and toddler program, three preschool classes, and four elementary classes. At the request of the school
    committee, I wrote a proposal for developing their programs based on the components of the original Down Syndrome Model
    Program, enhanced with twenty years of research on early intervention in all domains of development, brain development
    and learning, educational practices, vocational training, and specialized medical care.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/saut6.jpg" alt="Pat, photo-op with a falcon. Photo taken on an outing with a delegation of ten US senators' wives that the Al-Nahda Philanthropic Society for Women were entertaining. Pat had the rare privilege of spending much of an afternoon with Annie Glenn (Mrs. John Glenn).">
    <figcaption class="figure__item caption">Pat, photo-op with a falcon. Photo taken on an outing with a delegation of ten US senators' wives that the Al-Nahda Philanthropic Society for Women were entertaining. Pat had the rare privilege of spending much of an afternoon with Annie Glenn (Mrs. John Glenn).</figcaption>
  </figure>

  <p>The proposal was accepted, and I made a commitment to provide on-going consultation and training until the model programs
    were in place with all components successfully implemented. There are four models: Activity-Based Developmental (birth
    to 6, infant, toddler, and preschool programs); Applied Academic/Functional (6 to18 years, elementary, intermediate,
    and secondary); Community-Based Vocational Training (16 to 18 years); and Supported Community Employment (18-21 years).
    Three campuses, with a total of 14 classrooms and an infant program, serve a total of 160 individuals with Down syndrome.
  </p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/saut2.jpg" alt="Cynthia Branson &amp; Rodd Hegland in Riyadh, KSA, to present at the Forth Forum of the
      Gulf Association for Disability, 2004. Cynthia is the SLP consultant for SAUT; Rodd, a former researcher at the EEU,
      returned to Riyadh to provide NIDCAP training at King Faisal Specialist Hospital.">
    <figcaption class="figure__item caption">Cynthia Branson &amp; Rodd Hegland in Riyadh, KSA, to present at the Forth Forum of the Gulf Association for Disability, 2004. Cynthia is the SLP consultant for SAUT; Rodd, a former researcher at the EEU, returned to Riyadh to provide NIDCAP training at King Faisal Specialist Hospital.</figcaption>
  </figure>

  <p>Again, I was filled with excitement, still convinced that &lsquo;anything was possible&rsquo;, as I set out to bring the
    empirical method to the enchanting Kingdom of Saudi Arabia. On the second visit, May 1992, Mary Tartarka, PT, an early
    intervention specialist, and UW Ph.D. candidate, joined me to provide the initial training for the early intervention
    program, and stayed on as consultant until 1996. Cynthia Branson, SLP, a colleague from the CHDD, and Patricia Winders,
    PT, author of Gross Motor Skills in Children with Down Syndrome, became on-going consultants to the project; Susan Sandall,
    Ph.D., Assistant Professor, UW, will join the consultant team as research consultant.</p>


  <p>Due to the total commitment and unyielding support of the Al-Nahda Philanthropic Society for Women, the school&rsquo;s
    sponsor, and the very hard work, dedication, and perseverance on the part of director, Fatima Malak, program coordinators,
    teachers, and support staff, the Saut Education and Training Center (current name) demonstrates four exemplary, specialized
    model programs for individuals with Down syndrome, birth to 21 years of age. As far as I know, it is the only one of
    its kind in the world, and the methodology can be replicated in inclusion settings, as well as in other special education
    programs. These models demonstrate how it is done and provides the training, procedures and materials to replicate the
    model programs.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/saut5.jpg" alt="Dr. Kevin Cole &amp; Kay McCorkell, in Riyadh to present at the Gulf Association for Disability
        Conference, 2004. Dr. Cole is a former principal of the EEU; Ms. McCorkell, Learning Disabilities Specialist, has her
        M.Ed. from UW.">
    <figcaption class="figure__item caption">Dr. Kevin Cole &amp; Kay McCorkell, in Riyadh to present at the Gulf Association for Disability Conference, 2004. Dr. Cole is a former principal of the EEU; Ms. McCorkell, Learning Disabilities Specialist, has her M.Ed. from UW.</figcaption>
  </figure>
  <h4>SAUT: The Voice of Down Syndrome Society</h4>
  <p>The Al-Nahda Philanthropic Society for Women had sponsored the Al-Nahda Schools since 1987, and in 2010, it was awarded
    the World Health Organization, Eastern Mediterranean Regional Office, Down Syndrome Research and Education Award for
    their outstanding work in the field of Down syndrome in the Middle East. Dr. Hoda Kattan, Head of the Pediatric Department,
    King Faisal Specialist Hospital, medical consultant to the Al-Nahda Schools for Down syndrome, also received the award.
    The school was outstanding, but the Al-Nadha Society could provide service for only 160 students, and with over 800 on
    the waiting list, it was time to form a new society to sponsor the expansion and replication of the model programs throughout
    the kingdom. SAUT: The Voice of Down Syndrome was founded in 2010 and assumed the sponsorship, and gave the schools a
    new name, SAUT Education and Training Center.</p>

</article>
