<article class="article fade-in two">
  <header class="article__header">
    <h1>Christy Byron</h1>
    <blockquote>
      <q>She learned to do what the doctor said would never happen.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/christy1.jpg" alt="Christy Byron vacationing in Nashville." />
      <figcaption class="figure__item caption">
        Christy Byron vacationing in Nashville.
      </figcaption>
    </figure>
  </header>

  <p>When our daughter Christy was born in 1969, we were told by the pediatrician to take her home and love her. He said she would never be able to read or write. Thankfully my obstetrician's wife heard about a program at the University of Washington for babies with Down syndrome and called us to tell us about it. Christy was three months old when she started seeing Val Dmitriev at the University. A few months later we had to leave the state for a year. When we returned, the DS program at the EEU had been started and Christy was able to begin where she left off with the program.
  </p>
  <p>There, with the help of Val Dmitriev and Pat Oelwein, she learned to do what the doctor said would never happen. When I had her read for the doctor he said she must be an exception. I told him to visit the program and he would see a classroom of readers. With the foundation she received in the DS program, Christy was able to go on to graduate from our public high school.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/christy2.jpg" alt="Christy in preschool with Debbie." />
    <figcaption class="figure__item caption">
      Christy in preschool with Debbie.
    </figcaption>
  </figure>
  <p>Christy graduated from high school in 1989 being named "Outstanding Student in Special Education". After graduation she worked for McDonald's for five years. While there she was named "Individual Placement Employee of the Year". Looking for a more challenging job, she left to work for Trace Engineering, later called Xantrex Technology, as a marketing assistant. She worked there for nine years until the company outsourced her department. During her time there she received an award for "Outstanding Literature Performance". For the next couple of years she stayed home with her father as he was battling cancer. This gave them some wonderful quality time together. When she was ready to enter the work force again, she volunteered at the Arlington Chamber of Commerce until going to work for Rite Aid. After two years at Rite Aid her job ended due to budget cuts, and she now volunteers at the Granite Falls Library while waiting for the job market to open up.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/christy3.jpg" alt="Debbie & Christy--snack time." />
    <figcaption class="figure__item caption">
      Debbie & Christy--snack time.
    </figcaption>
  </figure>

  <p>Christy has been very involved in Special Olympics since 1982. She participates in bowling, basketball, swimming, and softball. She won "Female Athlete of the Year" in her area and in 1991 went to the International Games in Minnesota receiving gold and bronze medals. Christy has also traveled with Sundial Special Vacations to Nashville, Washington DC, New York, Disneyland, and a Mexican Cruise. She lives at home with her mother, and enjoys the rooms she has furnished independently. She loves music, dancing, crossword puzzles, and spending time with family and friends.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/christy4.jpg" alt="Christy Byron at work." />
    <figcaption class="figure__item caption">
      Christy Byron at work.
    </figcaption>
  </figure>

  <p>Christy still attends her class reunions where she has positive connections with her classmates. Her employers have always been impressed with her abilities and confidence. When people comment on how well Christy does, I always give credit where it is due. I tell them it is because of the early intervention that took place at the U of W from dedicated people like Val Dmitriev and Pat Oelwein.
  </p>
  <p>Always Grateful,<br />
    Judy Byron
  </p>
  <p class="bottomfill">P.S. Christy is very proud of her part in Pat's book and shows it to everyone!
  </p>
</article>
