<article class="article fade-in two">
  <header class="article__header">
    <h2>Down Syndrome Model Programs: <br>1971-1979</h2>
    <h4>Patricia Oelwein</h4>
  </header>

  <h4>Rationale for intervention
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/maria.jpg" alt="Maria">
    <figcaption class="figure__item caption">Maria</figcaption>
  </figure>

  <p>Dr. Dmitriev&rsquo;s rationale was that children with Down syndrome would benefit from specialized instruction designed
    to meet their special needs. Beginning at birth, the goal was to help the child with Down syndrome attain developmental
    milestones as closely to the norm as possible. Specialized instruction enables children with Down syndrome to function
    effectively with their disabilities and meet potentials that are unique to each of them and are yet to be discovered.
    Without the physical and mental activities provided by specialized instruction, the ability of these children to approximate
    typical development deteriorates rapidly.</p>

  <p>Our expectations were high. We set out to &lsquo;prove the potential&rsquo; of home-reared children with Down syndrome,
    and we had the resources to do it. The teacher/student ratio was excellent. In addition to the paid staff of a coordinator,
    teacher, assistant teacher, and a speech/language pathologist, there were graduate students/trainees and the children&rsquo;s
    parents who volunteered in the classroom, two at a time, one day a week. In addition, we had access, on a consultation
    basis, to the specialists from the Center on Human Development and Disability. These specialists included physical therapists,
    occupational therapists, nutritionists, and audiologists.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/kirsten.jpg" alt="Kirsten and her mother in foreground.">
    <figcaption class="figure__item caption">Kirsten and her mother in foreground.</figcaption>
  </figure>
  <h4>The empirical method</h4>
  <p>The empirical method was used consistently throughout all levels of the program. Each child&rsquo;s program was individualized
    and developed to meet his/her individual needs. The systematic problem-solving approach was followed in the development
    and implementation of these programs, which are known as Individualized Education Plans (IEPs) today. (The state of Washington
    passed the first &lsquo;Education for All&rsquo; law, HB-90 in 1972, influenced by empirical methods implemented throughout
    the EEU. The first federal law, P.L. 94-142, passed in 1975, was patterned after the Washington state law.)</p>

  <p>The steps in this systematic approach are: (1) assessment; (2) development of goals and objectives based on assessment;
    (3) development of instructional plans based on the goals and objectives; (4) implementation of the instructional plan;
    (5) evaluation of student progress.</p>

  <h4>The Assessment</h4>
  <p>As the program progressed, the staff developed an assessment tool, the Down Syndrome Performance Inventory (DSPI, It was
    later renamed Developmental Sequence Performance Inventory, remaining the &lsquo;DSPI&rsquo;, to expand its use with
    infants and children who had other disabilities, but retaining the DSPI letters.) This assessment followed normal developmental
    sequences in the five developmental domains: gross motor, fine motor, cognitive, communication, and social/self-help.
    Revisions were made as the children grew older and the program developed, we had to stay a step ahead of the children.
    The final revision was completed by Kristin Nicholls, Vicki Versdahl, and Laurel Prader Skaug of the UW research instructional
    staff for the Accelerating and Maintaining Development Gains (ACMG) project at Green Lake Elementary. The assessment
    was widely used and was a requirement for replication sites. In the late 1980&rsquo;s, I revised it to make it easier
    to score, as we collected data from replication sites for evaluation and research purposes. When I told one teacher that
    she now had to report data using the new assessment (Classroom Assessment of Developmental Skills), she replied, &ldquo;Okay,
    but nobody is going to take my DSPI away from me!&rdquo;</p>

  <h4>Infant Learning Program</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/heather.jpg" alt="Heather">
    <figcaption class="figure__item caption">Heather</figcaption>
  </figure>

  <p>Preschools in the Down Syndrome Program were in session Monday through Thursday, and the classroom was used Friday afternoons
    for the Infant Learning Program, which grew by leaps and bounds. There were approximately 25 infants enrolled at any
    given time, including &lsquo;field babies&rsquo; who lived more than an hour away and came less often. The teachers,
    assistant teachers, interns, and graduate students in training, participated in the Infant Learning Program and were
    trained by Val Dmitriev during the early years. Our classroom, CD140, was large enough for four stations, each of them
    accommodating an infant and his or her parent(s), a teacher, and a trainee. There was enough space for siblings to play
    and for parents to visit with each other before and after their hour-long session. It was the beginning of friendships
    for a lifetime.</p>

  <p> During these sessions, data were taken to measure the child&rsquo;s performance on his/her objectives in each domain, with
    each achievement praised and celebrated. We could all see the progress, it was measured and documented. The teacher would
    model positive interaction with the baby, demonstrating techniques designed to help him/her meet sequential developmental
    objectives. By observing the teacher&rsquo;s interaction with their infants, parents learned how to incorporate these
    techniques and other developmental activities into their daily routine, such as feeding, changing, bathing, and playing
    with the baby. Implementing the infants &lsquo;program&rsquo; should be fun and not take more time than any baby would
    need. Also, siblings were taught how interact and play with their younger brother or sister. Parents, aware of the child&rsquo;s
    objectives, adjusted their own behaviors to facilitate the baby&rsquo;s learning needs. We had lots of &lsquo;turned
    on&rsquo; parents. They knew they were breaking new ground.</p>

  <h4>Training materials</h4>
  <p>Val Dmitriev wrote a number of papers on infant learning, such as &ldquo;Eyes and Hands Work Together&rdquo; and &ldquo;The
    Importance of Imitation,&rdquo; that were given to parents and trainees and mailed to the many, many people who wrote
    to us asking. <span class="booktitle"><q>Time to Begin</q>, <q>Early Education for Children with Down Syndrome</q>, <q>Smart Baby, Clever Child</q></span>.
    She consolidated these very useful papers into the book, Time to Begin, which has been revised and has a new title, Early
    Education for Children with Down Syndrome. Her book, Smart Baby, Clever Child, features games, activities, and ideas
    for parents to help their babies learn.</p>

  <!-- <div class="img-fluid"><img src="assets/images/earlypre.jpg" alt="Early Preschool &ndash; in the bus on their way to the play court." /> Early Preschool &ndash; in the bus on their way to the play court.
      <img src="assets/images/homecenter.jpg" alt="Early Preschool &ndash; Patsy Love with Greg and Brad &ndash; Home Center." /> Early Preschool &ndash; Patsy      Love with Greg &amp; Brad &ndash; Home Center.
      <img src="assets/images/fingerpainting.jpg" alt="Alysun finger painting &ndash; white on colored paper." /> Alysun finger painting &ndash; white      on colored paper.
      <img src="assets/images/musictime.jpg" alt="Music time in Advanced Preschool." /> Music time in Advanced Preschool.
    </div> -->

  <figure class="figure">
    <img class="figure__item image" src="assets/images/earlypre.jpg" alt="Early Preschool &ndash; in the bus on their way to the play court.">
    <figcaption class="figure__item caption">Early Preschool &ndash; in the bus on their way to the play court.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/homecenter.jpg" alt="Early Preschool &ndash; Patsy Love with Greg and Brad &ndash; Home Center.">
    <figcaption class="figure__item caption">Early Preschool &ndash; Patsy Love with Greg &amp; Brad &ndash; Home Center.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/fingerpainting.jpg" alt="Alysun finger painting &ndash; white on colored paper.">
    <figcaption class="figure__item caption">Alysun finger painting &ndash; white on colored paper.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/musictime.jpg" alt="Music time in Advanced Preschool.">
    <figcaption class="figure__item caption">Music time in Advanced Preschool.</figcaption>
  </figure>

  <h4>Preschool programs</h4>
  <p>By the end of summer quarter 1972, the number of children in the classroom had grown from 11 to 18, necessitating the creation
    of a second preschool for fall quarter. We could never turn a child away. This started a trend of adding a classroom
    at the beginning of each school year until we had five EEU programs; infant learning, early preschool (toddler), intermediate
    preschool, advanced preschool, and kindergarten. At any given time, we had a total of approximately 65 children enrolled
    in the five programs. Fortunately, Dr. Hayden was as proud of the program as we were, and she found the classroom space,
    she had the hard job.</p>

  <h4>Enrollment policy</h4>
  <p>Although some observers accused us of &lsquo;hand-picking&rsquo; our pupils, we accepted any child with Down syndrome who
    was in the birth-to-6 age range (and a few short-term that were over six). It was difficult for people who had preconceived
    ideas about Down syndrome to adjust to this new image of capable, responsive children. A psychologist from Baltimore
    who observed the program commented, &ldquo;Of course, you select your subjects.&rdquo; When I told her we did not, she
    said, &ldquo;Well, you have a lot higher class of Down&rsquo;s kids here than we have in Baltimore!&rdquo; (Perhaps it
    was something else we had a higher class of.)</p>

  <h4>Trainees became teachers</h4>
  <p>University students who had trained in the program became teachers as the program expanded. Kristin Nicholls, Wendy Numata,
    Vicky Versdahl, Debi Frol, Faith Hertig, Linda Turner, Laurel Prater Skaug and Marlys Gilbert were student trainees who
    taught in the program and became excellent, innovative teachers. Their contributions were exceptional as the program
    continued to develop.</p>

  <h4>Classroom setup and routine</h4>
  <p>Preschool and kindergarten classes met half-days, four days a week. Learning centers included blocks and toys, art, housekeeping,
    books, table toys, a sand/water table, and an area equipped for working on motor goals. Each classroom had a courtyard,
    and there was a large covered playground (outside classroom) that all pupils in the building used. Each day, centers
    were &lsquo;set up&rsquo; with interesting activities in which children participated in small groups. Snack time was
    structured to include specific communication, social, and self-help skills. The &lsquo;whole class&rsquo; participated
    in story time and music activities.</p>

  <p>Ours was the only classroom with a piano, and Val, when she was available, would pop in the classroom and play as the rest
    of us performed to <q>Pop Goes the Weasel</q>, <q>Row, Row, Row, Your Boat</q>, <q>The Wheels on the Bus</q>, and many
    more songs in Val&rsquo;s great repertoire. When Patsy Love joined the staff, we had another musician to play the piano
    for us. She wrote the paper on developing music and skills, taught ballet in the kindergarten class. Her assistant, Lynda
    Potter, wrote the paper on art activities.
  </p>
  <h4>Learning concepts</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/activities.jpg" alt="Advanced Preschool &ndash; table activities.">
    <figcaption class="figure__item caption">Advanced Preschool &ndash; table activities.</figcaption>
  </figure>

  <p>Each child had 15 minutes of one-on-one instruction for his cognitive, communication and fine motor goals, referred to
    as &lsquo;concepts&rsquo;. A child would continue with the same concept teacher for as long as possible. For example,
    Kristin Nicholls, Lupita and Kari&rsquo;s concept teacher in preschool, continued as their concept teacher in kindergarten
    that met in the mornings. In addition, pupils received one-on-one instruction for riding a tricycle and other motor and
    self-help skills. Graduate students, working on special projects, often provided the instruction for these skills.</p>

  <h4>Discrimination learning</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/johnd.jpg" alt="John practicing counting and numbers.">
    <figcaption class="figure__item caption">John practicing counting and numbers.</figcaption>
  </figure>

  <p>When teaching &lsquo;concepts&rsquo;, during the acquisition stage of learning, we used a core sequence that moved from
    the simplest response to the most complex lessons. These activities included matching, discriminating same and different
    (matching the &lsquo;same&rsquo;); selecting, discriminating objects, images, colors, shapes and words on verbal cue
    (pupils selected by &lsquo;name&rsquo;); and the most demanding, e.g., naming (pupils said or signed the name of the
    object, image, color, shape or word). Val had taught us this powerful tool, and it was the key to teaching cognitive
    concepts; pupils must be successful at matching before selecting, and selecting before naming in each task that was introduced.
    Dr. Hayden was so impressed with this programming, she named it &lsquo;discrimination learning&rsquo; and asked Val to
    teach a graduate course, &lsquo;Discrimination Learning&rsquo;.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/outdoor.jpg" alt="Outdoor Classroom &ndash; Pat Oelwein, Lori, BJ, and Kim.">
    <figcaption class="figure__item caption">Outdoor Classroom &ndash; Pat Oelwein, Lori, BJ, and Kim.</figcaption>
  </figure>
  <h4>Using food to reinforce correct responses</h4>
  <p>In the early days we used food to reinforce correct responses, and we did so because we thought that it was necessary to
    motivate and keep the attention of the child. It was a valuable &lsquo;tool&rsquo; (from Skinner) that we could rely
    on. As it turned out, it proved to be more for the security of the teachers than motivation for the pupils. The pupil&rsquo;s
    own success and pleasure in learning became their reward, and the one-on-one attention from their concept teacher was
    motivating and special. As we became more skilled and confident, we phased out food for most of the children, and it
    was seldom used with children entering preschool from the infant program. However, we would not hesitate to use food
    when necessary. Some children entered the program having had no previous intervention, and for these pupils, a desirable
    food was the key to helping them learn new behaviors in order to function appropriately in a school setting.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/blocks.jpg" alt="Intermediate Preschool &ndash; Julie and Mike playing in the block center.">
    <figcaption class="figure__item caption">Intermediate Preschool &ndash; Julie and Mike playing in the block center.</figcaption>
  </figure>
  <h4>Data collection</h4>
  <p>We collected data on all objectives. There were snack data forms, toilet data forms, hand-washing data forms, tricycle
    data forms, and concept data forms. (During a videotaping of B.J. reading, when her teacher failed to record a correct
    response, B.J. tapped on the data form and said, &ldquo;You forgot to put it down!&rdquo;) And the data was put to good
    use Not only was it used to evaluate pupil progress and make programming decisions, but it also provided data for documentation
    of the effectiveness of intervention. These data were valuable for reporting purposes as well as for publications.</p>


  <h4>Multimedia training and awareness materials</h4>
  <p>While Val wrote papers on how to teach infants, the rest of us wrote papers on teaching procedures and learning activities
    for preschool and kindergarten. As we developed programs, we wrote papers that were used for training, and these too
    were widely distributed at workshops and to the many people who requested information. Dr. Hayden published a book,
    <span class="booktitle"><q>Selected Case Studies</q></span>, to which staff members contributed. (It&rsquo;s 2 inches
    thick. I just measured it!)</p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/intervention.jpg" alt="Systematic Intervention">
    <figcaption class="figure__item caption">Systematic Intervention</figcaption>
  </figure>

  <p>The major products from the program were slide-tape presentations such as, <q>New Perspectives on Down Syndrome</q>, <q>Early and Continuous Intervention</q>,
    and <q>Primary Directions</q>, and videotapes that demonstrated teaching techniques from the infant program through kindergarten.
    (Kristin Nicholls once reminded me that no one enjoyed watching the videos more than we did. She was right. I never tired
    of them.)</p>

  <p>We were blessed with a media department (CDMRC Media) that produced the slideshows and videos; a staff that entered our
    handwritten or typed products into 1970&rsquo;s computers that only &lsquo;specialist&rsquo; could use in those days;
    and editors who edited the printouts and prepared the final product. These services were excellent and crucial to the
    publication and dissemination of the research and program development that was taking place throughout the EEU.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/dennis2.jpg" alt="Dennis selecting a word.">
    <figcaption class="figure__item caption">Dennis selecting a word.</figcaption>
  </figure>
  <h4>Top-down, sign-assisted, personalized, systematic, reading program: A &lsquo;second&rsquo; first for Dennis</h4>
  <p>Soon after I became a preschool teacher in winter quarter, I related the following incident to Val. Dennis had taken a
    toy dinosaur from a basket of animals, went to the bookrack and selected a book on dinosaurs, then pointed from the toy
    dinosaur to the book, indicating they were the same. Val, with her &lsquo;anything is possible&rsquo; conviction, said,
    &ldquo;Give him a means of communication. Teach him to read.&rdquo; And I, with my &lsquo;we can do anything&rsquo; attitude,
    went to work immediately on designing a program based on the core sequence, &lsquo;match, select, and name&rsquo;. Dennis
    responded well, matching and selecting Mommy, Daddy, Dennis, and Eric (his brother), but he did not say (name) these
    words. Holly Moore, the program SLP, suggested teaching Dennis hand signs so he could respond with signed words, naming
    them. This was very successful. The reading and signing stimulated verbal words. In a letter of support for the program
    that Dennis wrote later, she said that 90% of his verbalizations were the words he could read and the names of letters
    of the alphabet.</p>

  <p>Impressed with Dennis&rsquo;s success, Kristin Nicholls, an intern in the program at the time, was eager to teach Lupita
    to read. Because Lupita had verbal language, Kristin&rsquo;s plan was to teach Lupita to read the so-called <q>right way</q>,
    starting with phonics. After a few sessions of using the right way, Lupita threw the letters on the floor and refused
    to participate in repeating letter sounds. To avoid the therapy room that Lupita associated with this aversive activity,
    Kristen decided to teach her in the classroom, using our alternative method: match, select, and name. She labeled objects
    in the classroom and asked Lupita to match flash cards to the labels, then select the requested flash card, then read
    it. In two weeks, Lupita had mastered 17 words, and went from there to reading a personalized book, <span class="booktitle"><q>All about Me</q></span>.</p>

  <h4>Bilingual discoveries</h4>
  <p>On a trip to Peru during the summer before her 4th birthday in September, Lupita&rsquo;s mother was advocating education
    for children with Down syndrome. On one occasion Lupita was demonstrating her reading ability by reading her book to
    a Peruvian mother. Expecting praise, Lupita would look to the woman as she finished each page, but there was no response.
    After a few pages, recognizing the problem, Lupita translated what she had been reading, into Spanish. Thus Lupita demonstrated
    that children with Down syndrome could be bilingual. Moreover, she later learned to read in Spanish. Another classmate,
    Martha, whose parents spoke only Spanish, also became fluent in both English and Spanish. Based upon their success, despite
    a conventional belief, we assured parents that children who have Down syndrome are able to learn more than one language;
    in fact, I know a woman who speaks three, English, Spanish and Arabic.</p>

  <h4>Sign language: A &lsquo;third&rsquo; first for Dennis</h4>
  <p>Inspired by Dennis&rsquo;s success with sign language, we incorporated signing into the curriculum, always paired with
    the spoken word. It provided a means of communication until the verbal words came, and eliminated much of the frustration
    that children feel when they are unable to communicate their needs. It also facilitates the development of verbal language.
    Although signing was controversial at the time, the parents in the EEU program were very supportive. I shall always remember
    the response of a father when asked permission to teach his son sign language He said, &ldquo;I don&rsquo;t see anything
    wrong with his being bilingual.&rdquo; Indeed, it is a most valuable second language. Currently, teaching sign language
    to preschool children who hear, but have delayed verbal language, is a standard &lsquo;best practice&rsquo;.</p>

  <h4>Reading results</h4>
  <p>We had a simple criterion for entering the reading program. The pupil had to be able to match and select lotto cards. Soon
    Dennis&rsquo; and Lupita&rsquo;s classmates started in the reading program using the
    <u>new</u> right way, proven by data. And that is how our pupils learned to read on their way to kindergarten.</p>

  <p>The chapter, &ldquo;Multidisciplinary Preschool Program for Down Syndrome Children at the University of Washington Model
    Preschool Center&rdquo; (Hayden and Dmitriev, 1975) marked our arrival in &lsquo;academia&rsquo; and was instrumental
    in establishing new expectations as well as standardized instructional methods for children with Down syndrome. In this
    chapter, reading data for 13 preschool children (mean age, 4 years, 5 months) were reported, one year and three months
    after Dennis read his first words. The mean number of quarters in the program was 2, (range, 6-1) and the mean number
    of words mastered was 29 (range, 11-103).</p>

  <p>Follow-up data were reported in a chapter, &ldquo;Preschool and Kindergarten Programs: Strategies for Meeting Objectives&rdquo;
    (Oelwein, 1988). Two books, <span class="booktitle"><q>Teaching Reading to Children with Down Syndrome</q></span> (Oelwein,
    1995), and <span class="booktitle"><q>Literacy Skill Development</q></span> (Broun &amp; Oelwein, 2007) provide step-by-step
    guidelines for implementing this program.</p>

  <h4>Kindergarten</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/kindergarten2.jpg" alt="Second kindergarten class &ndash; medical team taking care of Mike.">
    <figcaption class="figure__item caption">Second kindergarten class &ndash; medical team taking care of Mike.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/kindergarten1.jpg" alt="Pat Oelwein &ndash; 'first kindergarten class' &ndash; the day started with a 'message' on the chalk board. Pupils have the 'Weekly Reader' for discussion later.">
    <figcaption class="figure__item caption">Pat Oelwein &ndash; &lsquo;first kindergarten class&rsquo; &ndash; the day started with a &lsquo;message&rsquo; on the chalk board. Pupils have the 'Weekly Reader' for discussion later.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/kindergarten4.jpg" alt="Third kindergarten class &ndash; Drs. Roger, Joy, and Tommy examining teacher
      assistant, Pattie Hooper.">
    <figcaption class="figure__item caption">Third kindergarten class &ndash; Drs. Roger, Joy, and Tommy examining teacher assistant, Pattie Hooper.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/kindergarten3.jpg" alt="Third kindergarten class, Debi Frol, teacher.">
    <figcaption class="figure__item caption">Third kindergarten class, Debi Frol, teacher.</figcaption>
  </figure>
  <p>In the fall of 1973, nine children entered the new kindergarten located in the playroom in the South Building. They followed
    a kindergarten curriculum, and had group instruction at the beginning of the day as they learned the days of the week,
    months of the year, seasons, and weather conditions. Other &lsquo;units&rsquo; were also introduced at this time. Science
    concepts were taught during snack time, and each pupil had 20 minutes of one-on-one instruction for reading, prewriting/writing,
    and math, and participated in special projects with graduate students some of the time. Time for art and science projects,
    learning centers, outside play, and gross motor activities was provided. Story time and music remained an important part
    of the day.</p>

  <h4>Ballet</h4>
  <p>The second year of the kindergarten program, Patsy Love introduced ballet instruction. It was designed to meet cognitive,
    social, and motor goals, to the kindergarten, and to have fun. Due to the success of the ballet, dance, ballet, hula,
    folk, and modern became a beneficial part of the kindergarten curriculum.</p>

  <h4>Resources</h4>
  <p>Today, it is hard to imagine the lack of resources available when I entered the program. To introduce the staff and university
    students to Down syndrome, Val shared her copy of <span class="booktitle"><q>Down's Anomaly</q></span> by Penrose and
    Smith (1966). This book, and later the second addition (Smith &amp; Berg, 1976), were most valuable for answering the
    more technical questions about Down syndrome. They provided the most recent research and data available at the time.</p>

  <p>When Val wrote the proposal for the preschool, she referenced <span class="booktitle"><q>The World of Nigel Hunt: The Diary of a Mongolid Youth</q></span>,
    published in 1967 and written by Nigel Hunt, an Englishman who had Down syndrome. Nigel&rsquo;s father, who wrote commentaries
    in the book, told of taking Nigel to see Dr. Penrose (<span class="booktitle"><q>Down&rsquo;s Anomaly</q></span>), the
    doctor was amazed that Nigel could read, and said that Nigel was exceptional. Nigel was indeed exceptional, but it was
    his exceptional parents, who taught him to read and type, that made him the exception.</p>

  <p>A monograph published in 1970, <span class="booktitle"><q>A Language Stimulation and Reading Program for Severely Retarded Mongoloid Children</q></span>,
    documented success in improving language through teaching reading to children with Down syndrome in an institution. When
    I was in graduate school, after the EEU reading program was well under way, I saw an impressive movie from this project.
    The name of the film, &ldquo;Janet is a Little Girl,&rdquo; was taken from a sentence that the featured child was reading.
    As impressive as it was, the program ended with the movie and was not continued or replicated.</p>

  <h4>National Down Syndrome Congress</h4>
  <p>In 1972, during my first year at the EEU, the National Down Syndrome Congress (NDSC) had its first convention and started
    publishing a newsletter. They shared our optimism, and our collection of information about Down syndrome grew to include
    case histories of home-reared children who had demonstrated that they were, indeed, educable, and that was only one of
    their many capabilities. They reported current research that we shared with parents and students, and their conventions
    were fun and informative. One presentation that created excitement demonstrated the difference in the appearance of adults
    with Down syndrome between &lsquo;before&rsquo; and &lsquo;after&rsquo; the application of simple cosmetic intervention
    &ndash; hairstyles, makeup, glasses, as well as becoming, currently fashionable clothing. (What a novel idea! Can you
    imagine a time when this was innovative?)</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/model6.jpg" alt="Cover The Seattle Times Magazine 1:6:74. On the cover, mongoloid was used because no
    one knew what Down's syndrome was. In the article, they used Down's syndrome (the 's was dropped in the around 1980).">
    <figcaption class="figure__item caption">Cover &lsquo;The Seattle Times Magazine&rsquo; 1:6:74. On the cover, &lsquo;mongoloid&rsquo; was used because no one knew what Down&rsquo;s syndrome was. In the article, they used Down&rsquo;s syndrome (the &rsquo;s was dropped around 1980).</figcaption>
  </figure>
  <h4><span class="booktitle"><q>To Give an EDGE</q></span></h4>
  <p>In 1974 J. Margaret Horrobin, pediatrician and assistant professor, and John E. Rynders, educator and associate professor,
    University of Minnesota, published To Give an EDGE. This book, from Project E.D.G.E. (Expanding Developmental Growth
    through Education) featured the new image of Down syndrome. In addition to beautiful photographs, this book addressed
    the current issues and provided information concerning intervention and educational strategies. There were charts that
    showed the average age of attainment of developmental milestones, the age at which typical children and children with
    Down syndrome reached these milestones, and the range in age (youngest to oldest), that children with Down syndrome reached
    them. At last we had a book to give parents, and parents could check the charts to see where their child fell within
    the range of attainment of developmental milestones, based on the Project EDGE data.</p>

  <h4>The information explosion that has never stopped!</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/model7.jpg" alt="Patrick Evezich">
    <figcaption class="figure__item caption">Patrick Evezich</figcaption>
  </figure>
  <p>The national "Education for All" law passed in 1975 assured a free, appropriate education for all children, regardless
    of their disabilities. It set national standards, requiring Individual Education Programs (IEPs) and created a need for
    extensive research and training for professionals in the field. Down syndrome was easily diagnosed at an early age and
    represented the largest group classified as trainable. They became the most-researched population with disabilities in
    the field of medicine, child development, and education. This brought forth an information explosion that never stopped.</p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/model8.jpg" alt="Christy Bryon">
    <figcaption class="figure__item caption">Christy Bryon</figcaption>
  </figure>
  <p>In 1977 Marcie Hanson published <span class="booktitle"><q>Teaching Your Down's Syndrome Infant: A Guide for Parents</q></span>,
    and in 1978, <span class="booktitle"><q>Down Syndrome Growing and Learning</q></span> by Siegfried Pueschel was published.
    Since then he has been relentless in publishing research. Mary Coleman, director of the Children's Brain Research Clinic
    at Georgetown University, School of Medicine, wrote articles in journals about medical concerns in individuals with Down
    syndrome. She brought forth cases of autism and seizure activity in children with Down syndrome, as well as other aspects
    that were not previously known. Later, she edited a journal, <span class="booktitle"><q>Down Syndrome: Papers and Abstracts for Professionals</q></span>.
    In this journal, she published the first <q>Medical Checklist and Growth Charts for Down Syndrome</q>, as well as original
    research articles, summaries of published current research, and bibliographies of research in all areas of Down syndrome.</p>

  <p>And in 1980 Cliff Cunningham and Patricia Sloper contributed <span class="booktitle"><q>Helping Your Exceptional Baby: A Practical and Honest Approach to Raising a Mentally Handicapped Child</q></span>.
    As I leaf through these books, my original copies, and see all the underlining and highlighting, I realize their great
    contribution to my education, and how I cherished each bit of new information.</p>

  <p>The volumes of information that became available during the succeeding twenty years are too vast to list. However, de la
    Cruz &amp; Gerald (1981), Pueschel &amp; Rynders (1982), Dmitriev (1982), Edwards &amp; Dawson (1983), Dmitriev &amp;
    Oelwein (1988), Cunningham (1987 and 1996), Kingsley &amp; Levitz (1994), Stray-Gundersen (1995), Nadel &amp; Rosenthal
    (1995), Hassold &amp; Patterson (1999), and the Woodbine House series on Down Syndrome stand out as major contributions
    to our knowledge of Down syndrome and our store of effective intervention strategies.</p>

  <h4>Accelerating and Maintaining Developmental Gains (AMDG) 1974-1980 Green Lake Elementary School</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/model5.jpg" alt="Margaret Holton and Carol Benson, parents, Kristin Nicholls, research teacher, at Green Lake Elementary.">
    <figcaption class="figure__item caption">Margaret Holton and Carol Benson, parents, Kristin Nicholls, research teacher, at Green Lake Elementary.</figcaption>
  </figure>
  <p>While working on this brief history, I found a file of letters from parents of this first group of children, letters of
    support for continuing the project into the elementary school years. From Dr. Hayden&rsquo;s replies to the letters,
    it was evident that she was as eager to continue the program as the parents were. As a result, she and Dr. Haring applied
    for and received funding from the US Department of Education for a six-year research project, AMDG, at Green Lake Elementary
    in collaboration with the Seattle Public Schools. Dr. Dmitriev was the coordinator of this project, which compared the
    progress of the children who were EEU graduates to two classes of children who had not attended the EEU program, one
    class of children with Down syndrome, and one of children with other developmental delays.</p>

  <h4>Meany Middle School</h4>
  <p>After the first class of students completed their sixth year at Green Lake, and thanks to the extraordinary advocacy work
    of their parents, they attended an inclusion program at Meany Middle School, the first inclusion program for students
    with Down syndrome in Seattle Public Schools. They continued in a high school that offered inclusion opportunities as
    well as vocational training. A new era for people with Down syndrome had not only begun, but was firmly established.
    They could live a productive, high quality of life in the community and have the irreplaceable love and respect of their
    families.
  </p>

  <h4>UW research projects</h4>
  <p>Other departments at the UW discovered the wealth of subjects in the EEU program, so many infants and young children with
    Down syndrome in one place, home reared, available, and with parents eager to participate. These children and their parents
    became the subjects for many research projects in areas such as vitamin therapy, hearing, physical and occupational therapy,
    cognition, affect and cognition, interaction, turn taking, and relationships with parents, siblings, and grandparents,
    as well as the follow-up study on the original group when they were in middle school. There were so many research projects,
    we started counting how many doctorate students the children in the program were &lsquo;putting through school&rsquo;.</p>

  <h4>Outreach</h4>
  <p>The first federally funded-sponsored effort to identify and spread to the nation&rsquo;s schools innovative, effective,
    educational practices was the National Diffusion Network (NDN) (1974-1995). This network consisted of: (1) the Joint
    Dissemination and Review Panel (JDRP) that validated programs for replication and disseminated information about the
    programs; (2) Developers/Demonstrators (DD), programs validated by the JDRP; and (3) State Facilitators (SF), located
    in each state to facilitate training by the DDs in their state, and to support trainees to receive training on site at
    the DDs.</p>

  <p>The Down Syndrome Model Preschool Program became a DD in 1975, when it received validation for replication by the JDRP.
    Each year the NDN published an updated book, <span class="booktitle"><q>Educational Programs that Work</q></span>, featuring
    descriptions of validated programs. The name of the EEU program was changed to <q>Model Program for Children with Down Syndrome and Other Developmental Delays</q>    to make it more inclusive.</p>

  <p>The Communication Model at the EEU received validation at same time as the Down Syndrome Program, and both programs received
    funding for outreach from the NDN and the HCEEP, referred to as &lsquo;Model Preschool Outreach&rsquo;. Outreach activities
    consisted of (1) awareness presentations, (2) replication training, and (3) technical assistance. Training and workshops
    were provided at the EEU and on the site of the programs requesting training.</p>

  <h4>International replication</h4>
  <p>Val Dmitriev had been an instructor/trainer since she joined the EEU academic staff in 1970 as coordinator of the program
    and was responsible for all training, for program staff as well as outreach. In 1975, Kristin Nicholls and I were asked
    to be on-site teacher/trainers in the first international replication of the Down Syndrome Program at Macquarie University,
    North Ryde, N.S.W., Australia. Val Dmitriev went first and provided initial training, assessed the infants and children,
    and set up the classroom. I arrived, with my family in tow, a week before she left, for a two-month teacher/trainer assignment
    in the infant program and two preschool classrooms. Kristin Nicholls came later and completed the last seven months of
    the school year. The Macquarie program was outstanding, and their model has been replicated throughout Asia and in some
    European countries. The Macquarie staff published data on academic achievement and mainstreaming of children with Down
    syndrome (Pieterse and Treloar, 1981) and gained an international reputation with materials translated into Chinese and
    used for a replication program established in Hong Kong in 1984. The Australian experience was a highlight in our personal
    lives, as well as in our professional lives. (See International Replications Sidebar)</p>

  <h4>Training coordinator and field trainer</h4>
  <p>In 1977, I officially joined Val as training coordinator and field trainer (NDN), taking a larger role in the Summer Workshops,
    providing replication training and follow-up visits to replication sites, training education teams and at the EEU, giving
    workshops for parent organizations, providing technical assistance when requested, and presenting at conferences. Between
    the two of us, Val&rsquo;s and my travels took us throughout the USA and eventually to 17 other countries, spanning six
    continents. In addition, trainers at our satellite sites were busy as well. A trainer from Brighton School in San Antonio
    went to South Africa to train teachers and parents.</p>

  <h4>References</h4>
  <ul>
    <li class="bibliolist">Broun, L. &amp; Oelwein, P. (2007). Literacy skill development for students with special learning needs: A strength-based
      approach. Port Chester NY: National Professional Resources, Inc.</li>
    <li class="bibliolist">Cunningham, C. &amp; Sloper, P. (1980). Helping your exceptional baby. NY: Pantheon Books.</li>
    <li class="bibliolist">Cunningham, C. (1982 &amp; 1977). Down&rsquo;s syndrome: An introduction for parents. London: Souvenir Press.</li>
    <li class="bibliolist">Dmitriev, V. (1982). Time to begin. Milton WA: Caring, Inc.</li>
    <li class="bibliolist">Dmitriev, V. (2003). Early education of children with Down syndrome. Austin TX: Pro-Ed.</li>
    <li class="bibliolist">Dmitriev, V. (2006). Smart baby, clever child. Avon, MA: Five Star Publishing.</li>
    <li class="bibliolist">Dmitriev, V. (1997). Tears and triumphs. Seattle: Peanut Butter Publishing.</li>
    <li class="bibliolist">Dmitriev, V. &amp; Oelwein, P. (1988). Advances in Down syndrome. Seattle: Special Child Publications.</li>
    <li class="bibliolist">Edwards, J. &amp; Dawson, D. (1983). My friend David: A source book about Down's syndrome and a personal story about
      friendship. Austin, TX: PRO-ED, Inc.</li>
    <li class="bibliolist">De la Cruz, F.F. &amp; Gerald, P.S. (1981). Trisomy 21 (Down syndrome): Research perspectives. Baltimore: University
      Park Press.
    </li>
    <li class="bibliolist">Hassold, T.J. &amp; Patterson, D. (1999). Down syndrome: A promising future, together. New York: Wiley-Liss.</li>
    <li class="bibliolist">Hayden, A.H. &amp; Dmitriev, V. (1977). The multidisciplinary preschool program for Down&rsquo;s syndrome Children at
      the University of Washington Model Preschool Center. In B.Z Friedlander, G.M. Steritt, &amp; G.E. Kirk, (Eds.), Exceptional
      infant: Assessment and intervention, vol. 3, (pp.193-221). New York: Brunner/Mazel.</li>
    <li class="bibliolist">Horrobin, J. M. &amp; Rynders, J.E. (1974). To give an EDGE: A guide for new parents of Down's syndrome (Mongoloid) children.
      Minneapolis: University of Minnesota.</li>
    <li class="bibliolist">Hunt, N. (1967). The world of Nigel Hunt: The diary of a Mongoloid youth. New York: Garett Publications.</li>
    <li class="bibliolist">Kingsley, J. &amp; Levitz, M. (1994). Count us in: Growing up with Down syndrome. New York: Harcourt Brace &amp; Company.</li>
    <li class="bibliolist">Oelwein, P.L. (1995). Teaching reading to children with Down syndrome: A guide for parents and teachers. Bethesda MD:
      Woodbine House.
    </li>
    <li class="bibliolist">Oelwein, P. L. (1999). Individualizing reading for each child&rsquo;s ability and needs. In Hassold, T.J. &amp; Patterson,
      D. (Eds), Down syndrome: A promising future, together (pp. 155-164. New York: Wiley-Liss.</li>
    <li class="bibliolist">Oelwein, P.L. (2002), Liberation from traditional reading and math teaching methods and measurements. In Cohen, W.I.,
      Nadel, L., &amp; Madnick, M.E. (Eds.) Down syndrome: Visions for the 21st Century (pp. 421-436). New York: Wiley-Liss.</li>
    <li class="bibliolist">Penrose, L. S. &amp; Smith, G.F. (1966, 1st ed.) Smith, G.F. &amp; Berg, J.M. (1976, 2nd ed.). Down's anomaly. New York:
      Churchill Livingstone.
    </li>
    <li class="bibliolist">Pieterse, M., &amp; Treloar R. (1981). The Down&rsquo;s syndrome program; Progress report, 1981. North Ryde, Australia:
      Macquarie University.</li>
    <li class="bibliolist">Rhodes, L., Gooch, B., Siegelman, F., Behrns, C., &amp; Metzger, R. (1970). A language stimulation and reading program
      for severely retarded mongoloid children. California Mental Health Research Monograph No. 11. State of California,
      Department of Mental Hygiene, Bureau of Research.</li>
    <li class="bibliolist">Pueschel, S.M. (Ed.) (1978). Down syndrome: Growing and Learning. Kansas City: Sheed Andrews and McMeel, Inc.</li>
    <li class="bibliolist">Pueschel, S.M. &amp; Rynders, J.E. (1982). Down syndrome: Advances in biomedicine and the behavioral sciences. Cambridge,
      MA: The Ware Press.</li>
    <li class="bibliolist">Smith, G.F. &amp; Berg, J.M. (1976). Down's anomaly (2nd Edition). New York: Churchill Livingstone.</li>
    <li class="bibliolist">Stray-Gundersen, K. (Ed.) (1995) Babies with Down syndrome: A new parents' guide. Bethesda, MD: Woodbine House.</li>
  </ul>

</article>
