<article class="article fade-in two">
  <header class="article__header">
    <h2>Down Syndrome Program Macquarie University</h2>
    <h4>North Ryde, NSW Australia</h4>
  </header>

  <blockquote><q>Three years after we started our program, a leading pediatrician said that the striking visible outcomes, and that alone, had completely changed his thinking.</q></blockquote>

  <h3>Dr. Bernie Thorley, Founder</h3>
  <h4>Honorary Professor, University of Newcastle Down Syndrome Program, Macquarie University</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/img005.jpg" alt="Photo of Val Dmitriev, Bernie Thorley, Moira Pieterse, and Pat Oelwein. Macquarie University,
    North Ryde, NSW, Australia 1975">
    <figcaption class="figure__item caption">Val Dmitriev, Bernie Thorley, Moira Pieterse, and Pat Oelwein. Macquarie University, North Ryde, NSW, Australia 1975.</figcaption>
  </figure>

  <p>Please convey to the organizers of the 40th anniversary of the UW DS Program my best wishes for the occasion and my congratulations
    on 40 years of exemplary service and commitment to children with disabilities.</p>

  <p>I still vividly recall my first visit to the UW program in January 1974 during the first stage of an exhausting 3 month
    study tour of special education facilities in the USA and UK which Macquarie University (MU) had commissioned me to undertake.
    The tour was hurriedly arranged after a submission which we drafted for the University &ndash; a successful request for
    special funding was made to the Australian Federal Government. Indeed, in late 1973 the MU received the largest ever
    grant made to a university in Australia to establish from scratch comprehensive Special Education programs and facilities.</p>

  <p>In the overseas tour, I was looking for exemplary programs, the impact of which would be such as to revolutionize completely
    the system of service delivery and training existing in Australia. The DS Program which you subsequently helped to establish
    proved to be a standout in this respect. At that time, pediatricians in Australia were trained to advise parents of newly
    born children with DS to commit them immediately to institutional care and get on with their lives without so much as
    taking a look at or picking up the child. Children with DS consequently made up over 40% of children in institutions
    for the mentally retarded, most of whom were very severely retarded and some were so severely disturbed that they spent
    their days in straight jackets! Three years after the UW group helped us to establish our own DS project, a leading pediatrician
    told me that the striking visible outcomes of the DS program &ndash; and that alone &ndash; had completely changed their
    thinking. This is a small example of the huge number of children who have been saved from a life of misery as of result
    of the pioneering efforts of the UW DS Program.</p>

  <p>Over the years, the research community's relative neglect of the UW DS Program's general contribution to instructional
    science research has been my biggest disappointment. The Program's message goes well beyond the operant psychology of
    Skinner: a point I have emphasized many times over the years but it is unfortunately a message the research community
    and journal editors aren't very anxious to hear. In debates over the teaching of beginning reading, for example, little
    attention is paid to the UW DS approach as extremist <q>phonics-first-and fast</q> themes dominate recent reviews of
    research into the teaching of beginning reading in the UK and USA. Unlike practitioners who in their thousands continue
    to buy your wonderfully practical book, Pat, there is little acknowledgement among research reviewers of the outstanding
    success of your program. When it comes to <q>best practice</q> in special education, the research community does not
    yet seem capable of getting the science right!</p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/aussie2.jpg" alt="Pat and Walt Oelwein with Macquarie University trainees &ndash; to the left of Pat,
      Sue Cairns, who became Teacher-In-Charge of the Down Syndrome Program. In 1980 Sue was honored with the Churchill Fellowship
      that sponsored a trip throughout the US and England.">
    <figcaption class="figure__item caption">Pat and Walt Oelwein with Macquarie University trainees &ndash; to the left of Pat, Sue Cairns, who became Teacher-In-Charge
      of the Down Syndrome Program. In 1980 Sue was honored with the Churchill Fellowship that sponsored a trip throughout
      the US and England.</figcaption>
  </figure>

  <h4>Jill O&rsquo;Conner Macquarie Down Syndrome Program</h4>
  <p>We are indeed very lucky here to have had such well-established early intervention programs for so long. By the time my
    son was born 21 years ago the Macquarie Program (Australia) had developed a community based service, operating in purpose
    built premises, staffed by Macquarie trained professionals, and available to anyone who needed it at no cost. Now multi-disciplinary,
    integrated services exist all over the country &ndash; and we complain about sometimes having to wait or make a small
    financial contribution!</p>

  <p>As well as having my son Declan, who has Down syndrome, in the program, I have worked with Down Syndrome NSW for just over
    18 years. Over the years I have come to know Moira, Sue Cairns, Robin Treloar and many others well, and some of them
    are still very actively involved in research and in service delivery. We know many of the children you would have taught
    and their families &ndash; all very grown up now, of course. I had lunch with Moira and with Betty Hook (one of Moira's
    mature aged students) a few months ago &ndash; both retired (I think they are both about 80, but not actually telling!),
    but both very active and vitally interested in what is going on. Amazing and inspiring women.</p>

  <h4>Pat Oelwein: Reflections on the program in Australia</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/aussie1.jpg" alt="Oelwein family Passport 1975 &ndash; Pat and Walt, Walter Charles (6) and Alison (9)">
    <figcaption class="figure__item caption">Oelwein family Passport 1975 &ndash; Pat and Walt, Walter Charles (6) and Alison (9)</figcaption>
  </figure>
  <p>The DS Program that was located at Macquarie University (currently located off campus) was our very first international
    replication training. Bernie Thorley, a professor on sabbatical in 1974, was so impressed with the DS Program at the
    UW, he requested training for their school year that began in March 1975. Val Dmitriev went first, for a three-week period
    to provide the initial training, assess the children, and set-up a classroom. I overlapped with her a week and became
    the teacher/trainer in the program (included three classes, infant, toddler, and preschool) for two months. Kristin Nicholls,
    another teacher in the program, took over for the final seven months of the school year.</p>

  <p>Val and I are still in contact with Moira Pieterse, who was the original coordinator and later director of the program.
    Moira and her staff trained parents and educators throughout Australia and the Eastern Hemisphere, including Russia..
    I have referenced their reading data over the years, including in my book, <span class="booktitle"><q>Teaching Reading to Children with Down Syndrome</q></span>.</p>


  <p>We all treasure our Australian experience and having the opportunity to be a part of the Down Syndrome Program at Macquarie
    University. My family had the privilege of going with me. My husband took a leave of absence from his work, and our children
    (6 and 9 at the time) attended a public school in North Ryde. We all have wonderful memories. As our plane was taking
    off from Sydney airport, our daughter (the 9 year old), with tears in her eyes, said, <q>I just know I'll return to Australia someday.</q>So
    far, the only member of our family to return is our son &ndash; he, too, went as a trainer, for Microsoft. Val Dmitriev
    has made a return visit. In my <q>old age</q> I am very sentimental about it all, and I marvel at all the wonderful things
    that started when Margaret Holden presented her baby to Val with a grateful <q>here.</q></p>
</article>
