<article class="article fade-in two">
  <header class="article__header">
    <h2>Fathers Network and Sibling Support Project</h2>
    <h4>Don Meyer</h4>
  </header>

  <blockquote>&quot;The Fathers Program is the first and longest running program in the U.S. for dads of kids with special needs.&quot;</blockquote>
  <p>Thank you for the opportunity to share my memories of the Down Syndrome Program! For me, and many others, it was a life-and
    career-changing experience.</p>
  <p>I arrived at UW in 1978 after having spent three years as a special education teacher in Minnesota. I was intrigued by
    the Experimental Education Unit's pioneering work in the field of early intervention.</p>
  <p>Almost immediately, I was immersed in the Down Syndrome Program. I did multiple practicums with Pat Oelwein. From Pat's
    gentle guidance and focus on families' strengths, I learned much about Down syndrome and working with babies and families.</p>
  <p>My advisor was the director of the Down Syndrome Program, Dr. Alice Hayden. Dr. Hayden knew, even then, that much of what
    passed as <q>parent involvement</q> was really <q>mother involvement.</q> I was the only the male early childhood graduate
    student when I first met with her, and she soon <q>advised</q> me to <q>do something about these fathers!</q></p>
  <p>Involving fathers somehow sounded novel and needed, and I was soon working with Greg Schell and Sam Delaney to establish
    the Fathers Program. Greg and I ran the Experimental Education Unit's Fathers Program for years and we learned much from
    the participants about dads' unique concerns and the deep love they had for their children.</p>
  <p>I am proud to say that the Fathers Program that evolved out of the Down Syndrome Program is the United States first and
    longest-running program for dads of kids with special needs. Now called The Fathers Network, this program has been serving
    Seattle-area dads for over 30 years and has been replicated throughout the U.S. And I am thrilled that Greg Schell is
    once again directing this effort.</p>
  <p>Our work with fathers reminded us that a child's disability affects all family members, and we soon branched out to create
    programs for other traditionally underserved family members, siblings and grandparents.</p>

  <blockquote>&quot;There are now 350 Sibshops worldwide, serving thousands each week.&quot;</blockquote>


  <p>Since 1990, I have had the good fortune of being the director of the Sibling Support Project, a national effort dedicated
    to the life-long concerns of brothers and sisters of people with special health, developmental, and mental health concerns.
    We have a several sibling-related initiatives, but we are probably best known for helping local communities start Sibshops,
    lively peer support and education programs for school-age brothers and sisters. There are now 350 Sibshops worldwide,
    serving thousands of sibs each week. All are based on a model developed at the Experimental Education Unit and all are
    ultimately an outgrowth of work started with the Down Syndrome Program.</p>
  <p>It is safe to say that Sibshops, The Fathers Network, and the Grandparents Workshop models would never have happened had
    it not been for the opportunities provided by Down Syndrome Program at the University of Washington.</p>
  <p>I will be forever grateful for your guidance, Pat and Val, and for the families I met through the program. The Down Syndrome
    Program has enriched my life and the lives of others, even those who have never heard of it!</p>
  <p>Please accept my very best wishes on Down Syndrome Program's 40th anniversary!</p>
  <p>Sincerely,</p>
  <p>Don Meyer Director, Sibling Support Project A Kindering Center program 6512 23rd Ave NW, #322 Seattle, WA 98117 USA</p>
  <p><a href="http://www.siblingsupport.org/sibshop/index_html">siblingsupport.org</a></p>
</article>
