<article class="article fade-in two">
  <header class="article__header">
    <h2>Two Pioneers in Down Syndrome Education mark a Fortieth Anniversary <br><span class="author">by Rosanne Gostovich Royer</span></h2>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/main1.jpg" alt="Patricia Oelwein &amp; Valentine Dmitriev in London, 1986, on their way to present at
        International Conference in Brighton, UK">
      <figcaption class="figure__item caption">Patricia Oelwein &amp; Valentine Dmitriev in London, 1986, on their way to present at International Conference in Brighton, UK.</figcaption>
    </figure>
    <h4>A Breakthrough in Early Intervention</h4>
  </header>

  <p>In January 1971, a program was launched at the University of Washington that would gain world renown and fundamentally
    change the educational approach to children with Down syndrome.</p>

  <p>Valentine Dmitriev had astonished her colleagues with the concept that intervention with children with Down syndrome should
    begin in infancy.</p>

  <p><q>All my previous work with preschoolers and the distressing fact that there were no preschool programs for children with disabilities led me to the conclusion that training for children with Down syndrome must begin in infancy, as it does with other children,</q>    says Dmitriev.</p>

  <p>Within a year, Patricia Oelwein joined the staff as preschool teacher of the original eleven children. She demonstrated
    that children with Down syndrome were not only capable readers, but were overachievers with reading scores exceeding
    their mental ages at all ages and reading levels.</p>

  <p>On March 12, 2011 these two pioneers were recognized for their work at the 75th Anniversary celebration of Arc of Clark
    County, Washington, the very first Arc chapter in the United States. Dmitriev&rsquo;s workshops in Vancouver in the 1970&rsquo;s
    led to the establishment of PRIDE School in Vancouver, the first satellite program of the University of Washington Down
    Syndrome Program. PRIDE School, formerly located at Clark Community College, is now a partner in a facility with Arc
    of Clark County. A portion of the PRIDE school playground, the Val Dmitriev Courtyard, is dedicated to her.</p>

  <h4>How It All Began</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/main3.jpg" alt="Dennis, first reading pupil, and Pat Oelwein, 1973">
    <figcaption class="figure__item caption">Dennis, first reading pupil, and Pat Oelwein, 1973.</figcaption>
  </figure>

  <p>In the late 1960&rsquo;s Dmitriev put her theory into practice by implementing a pilot program and submitting a proposal
    to Dr. Alice Hayden, director of the Model Preschool Center at the Experimental Education Unit, University of Washington.
    Dr. Hayden submitted the proposal to the Handicapped Children&rsquo;s Early Education Program (HCEEP) of the federal
    government. It was accepted and became one of 24 First Chance Programs funded through the U.S. Office of Education. When
    these 24 programs were evaluated in 1975, Dmitriev&rsquo;s was one of only seven that the panel validated as exemplary
    and worthy of nationwide dissemination and replication. Eventually the concept and methodology reached six continents.
    In 1978 the Down Syndrome Congress recognized the program with their Meritorious Service Award, stating, "Your work has
    worldwide impact in proving the potential of Down's syndrome children."</p>

  <p>When Dmitriev brought Oelwein on board, she asked her to teach a non-verbal child to read, in order to give him a means
    of communication. Oelwein developed a reading program based on the <q>match, select, and name</q> sequence that Dmitriev
    had taught her. In so doing she unveiled the astonishing possibility that children with Down syndrome could learn to
    read.
  </p>

  <p><q>I became very excited about the effect that behavioral learning principles were having on the children,</q> says Oelwein.
    <q>They were exceeding expectations, and everything seemed possible.</q></p>

  <p>These breakthroughs were made possible because of government funding that traces its beginning to 1963 when President Kennedy
    signed legislation to establish a national network of university based facilities for people with disabilities. The first
    federal legislation to provide exclusively for young children with disabilities, the Handicapped Children&rsquo;s Early
    Education Assistance Act, was passed in 1968 as part of Lyndon Johnson&rsquo;s Great Society program. Parents became
    students and teachers alongside their children who now had prospects for a different future.</p>

  <h4>Replication of the Program begins in Vancouver, Washington</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/main2.jpg" alt="Valentine Dmitriev teaching a child at PRIDE, 1970's">
    <figcaption class="figure__item caption">Valentine Dmitriev teaching a child at PRIDE, 1970&rsquo;s.</figcaption>
  </figure>

  <p>In Vancouver, Washington, Judy and James Marick had been looking for help for their son Jason when they heard Dmitriev
    speak at a conference sponsored by Arc of Clark County in Vancouver in 1975. They asked her to help them set up a program
    for children with Down syndrome, and things happened fast.</p>

  <p><q>Val invited us to her hotel room,</q> says Marick. <q>She set up a movie screen and slide projector and showed us what they were doing at the University of Washington.  She worked with Jason on her bed in the hotel room. He was five weeks old.</q>    </p>

  <p>Dmitriev returned to Vancouver soon after and conducted a workshop. As a result, the first University of Washington satellite
    program was established in 1976 in Vancouver, Washington, under the auspices of Clark Community College. Called PRIDE
    (Parents Receiving Individual Developmental Education), the program remained at the college for 25 years and then moved
    into a new facility shared with Arc of Clark County. While most programs for children with Down syndrome are now decentralized,
    with specialists visiting homes and then preschoolers enrolled in programs in regular school, the PRIDE constituents
    have kept their program as <q>center-based</q> as possible, following the original model.</p>

  <p>Judy Marick is effusive about Dmitriev&rsquo;s impact. <q>My son Jason would not be where he is or who he is today, out working in the community, without Val.  She gave us the tools; and it was early enough so that children who received training could go to school and the receiving teacher could have further expectations of them.</q>

  <h4>The Backgrounds of Two Remarkable Women</h4>
  <p>Valentine Dmitriev was born in Shanghai, China, of Russian parents who fled from St. Petersburg at the height of the
    Bolshevik revolution. From China her family emigrated to Canada, then the U.S. She graduated from the University of
    Washington at age nineteen with a B.A. in English and Creative Writing. As a young parent she took classes on child
    development and education. She worked as a nursery school teacher and then supervisor of five parent cooperative pre-schools.
    Her disheartening discovery of the absence of preschool programs for children with disabilities propelled her to graduate
    school where she earned an M.A. and began the pilot program for infants with Down syndrome, subsequently receiving
    a Ph.D.</p>

  <p>Patricia Oelwein, an Arkansas native, received her degree in home economics from Henderson State University in 1960 and
    taught home economics four years. In the summer of 1971, she attended a workshop at the University of Washington taught
    by Dmitriev, and a new chapter in her life began. Excited about the impact of behavioral learning principles on the
    children, she applied for the soon-to-be-open teaching position in Dmitriev&rsquo;s Down Syndrome Program classroom.
    Oelwein focused on developing curriculum and teaching methodology for preschool and kindergarten children while Dmitriev
    continued to focus on infants and outreach training.</p>

  <h4>Transition from Model Preschool Program to Elementary School</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/main5.jpg" alt="AMDG staff meeting at Green Lake Elementary-from right to left, Val, principal, Mr. Hall,
        AMDG staff, Kristin Nicholls, Laura Prater Skaug, and Vickie Versdahl">
    <figcaption class="figure__item caption">AMDG staff meeting at Green Lake Elementary-from right to left, Val, principal, Mr. Hall, AMDG staff, Kristin Nicholls, Laura
      Prater Skaug, and Vickie Versdahl.</figcaption>
  </figure>


  <p>By the mid 1970s, when the original children in the program reached six years of age, Dr. Norris Haring, then director
    of the EEU, had a federally funded research program waiting for them. <q>Accelerating and Maintaining Developmental Gains,</q>(AMDG)
    with Dmitriev coordinating the project, was a collaboration with the Seattle Public Schools to continue the children&rsquo;s
    education in an inclusive setting in regular schools. In 1981 the children entered middle school, the first children
    with Down syndrome to do so in Seattle.</p>

  <p>In 1980, Dr. Rebecca Fewell became the project director of the Down Syndrome Program at the EEU. Her proposal for a project
    that served fathers, siblings, and grandparents (SEFAM) gave birth to the Fathers Program and the Sibling Support Project
    that continue today.</p>

  <p>When federal funding for the Down Syndrome Program was no longer available in 1990, Dr. Michael Guralnick, the director
    of the Center on Human Development and Disability at the University of Washington, brought the program from the EEU
    to the center, where Oelwein provided research support, training, and counseling.</p>

  <h4>Taking the Program to Six Continents</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/main6.jpg" alt="Valentine Dmitriev in Japan">
    <figcaption class="figure__item caption">Valentine Dmitriev in Japan.</figcaption>
  </figure>

  <p>Between the two of them, Dmitriev and Oelwein have provided training and presented at conferences throughout the USA
    and in 17 other countries. The first international replication of the Down Syndrome Program was established at Macquarie
    University in North Ryde, N.S.W., Australia in 1975, and the most recent, starting in 1991, is the Saut Education and
    Training Center in Riyadh, Saudi Arabia, formerly known as Al-Nahda Schools for Down Syndrome. In addition, the methodology
    has been demonstrated in Japan, England, Russia, Indonesia, Italy, Spain, Mexico, Canada, South Korea, Venezuela, Jamaica,
    Guatemala, Egypt, Kuwait and Hong Kong.</p>


  <figure class="figure">
    <img class="figure__item image" src="assets/images/main7.jpg" alt="Pat Oelwein giving workshop in Japan, 1986">
    <figcaption class="figure__item caption">Pat Oelwein giving workshop in Japan, 1986.</figcaption>
  </figure>
  <p>The Saut Education and Training Center in Riyadh, Saudi Arabia traces its beginnings to the PRIDE School in Vancouver.
    A parent living in Portland, Oregon, who had heard about PRIDE School, enrolled in the program and received exceptional
    training for herself and her daughter. When her family moved back to Saudi Arabia she found that there were no similar
    programs available for children with Down syndrome. When she requested help from PRIDE School, Dmitriev and Nancy Warren,
    coordinator of the PRIDE program at the time, went to work immediately. They made videotapes demonstrating teaching
    techniques, as well as how to set up and manage preschool classrooms. All these materials were delivered via the Boeing
    Company&rsquo;s mail service to bring the University of Washington programs to Saudi Arabia. Dmitriev&rsquo;s book
    <span class="booktitle">Time to Begin</span> and Dmitriev &amp; Oelwein&rsquo;s <span class="booktitle">Advances in Down Syndrome</span>      were the primary resources for the program.</p>
  <p>In 1991 Oelwein became on-going consultant to the project, traveling to Saudi Arabia 23 times to develop comprehensive
    programs for individuals with Down syndrome, from infancy to 21 years of age. In 2010 the program received the Down
    Syndrome Research and Education Award for their outstanding work in the Middle East from the World Health Organization
    Eastern Mediterranean Region Office. The Saut Education and Training Center will be replicated in some cities, and
    satellite programs will be developed in other areas as needed.</p>

  <h4>Where are they now?</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/nancy.jpg" alt="Val with Nancy Warren helped out via long distance">
    <figcaption class="figure__item caption">Val with Nancy Warren helped out via long distance.</figcaption>
  </figure>

  <p>Forty years after her revolutionary work began, Dr. Dmitriev is in her 90s and is pursuing a <q>distant dream</q> from
    her youth writing novels. Until 2003 she continued to publish in her field and give workshops on child development
    education. Her books <span class="booktitle">Tears and Triumphs</span> and <span class="booktitle">Time to Begin</span>      (reissued as <span class="booktitle">Early Education for Children with Down Syndrome</span>) continue to inspire readers
    to pursue their own education and demonstrate compellingly case by case how unique solutions can be found for each
    child. Kay Parks, a parent and long-time activist at PRIDE says that Dmitriev always faced tough challenges by turning
    to a parent and saying, <q>Let&rsquo;s figure this out.</q></p>

  <p>Pat Oelwein, now in her 70s, is also retired from the University of Washington, but continues giving workshops, primarily
    on reading, and providing on-going support to the Saut Education and Training Center in Saudi Arabia. She is currently
    writing training manuals for Saut that span six programs from birth to twenty-one years of age, early intervention
    to community-based vocational training and supported employment. Her book, <span class="booktitle">Teaching Reading to Children with Down Syndrome: A Guide for Parents and Teacher</span>      (1995), has sold over 71,000 copies. <span class="booktitle">Literacy Skill Development for Students with Special Learning Needs</span>      (2007), written with Leslie Broun, expands the reading methodology to students with autism spectrum disorders and other
    disabilities.
  </p>

  <p>Forty years ago Dmitriev sounded the cry, <q>Don&rsquo;t judge a person strictly on the basis of IQ or mental age scores but rather by what he or she is able to contribute to the human experience.</q>      Parents and others have heeded the call and made life better for many children around the world.</p>

  <h4>The Experimental Education Unit (EEU) Today</h4>

  <p>The Experimental Education Unit (EEU), where the Down Syndrome Program was launched in 1971, is currently one of three
    units of the <a href="http://www.haringcenter.washington.edu/">Norris and Dorothy Haring Center for Applied Research and Training in Education</a>,
    directed by Dr. Ilene Schwartz. The EEU is a comprehensive early childhood center providing inclusive educational services
    for families and children with and without disabilities from birth through kindergarten. Educational and therapeutic
    interventions are geared to each child&rsquo;s individual needs and no child is discriminated against because of race,
    gender, national origin, or disability. Through coordination with local education agencies, the EEU ensures that children
    make a smooth transition into educational programs in their own school districts.</p>

  <p><strong>Valentine Dmitriev&rsquo;s books are available at:</strong> <a href="http://www.valentinedmitriev.com">www.valentinedmitriev.com</a></p>

  <p><strong>Patricia Oelwein&rsquo;s books are available at:</strong>
    <em>Teaching Reading to Children with Down Syndrome</em>
    <a href="http://www.woodbinehouse.com/">www.woodbinehouse.com</a> &amp; <a href="http://www.amazon.com/">www.amazon.com</a><br
    />
    <em>Literacy Skill Development for Children with Special Learning Needs</em>
    <a href="http://www.nprinc.com/">www.NPRinc.com</a> &amp; <a href="http://www.amazon.com/">www.amazon.com</a></p>

  <p>Overview by Rosanne Gostovich Royer Portland, Oregon
    <a href="mailto:rosanneroyer@comcast.net">rosanneroyer@comcast.net</a> 503-646-3717
  </p>

  <p>February 2011</p>
</article>
