<article class="article fade-in two">
  <header class="article__header">
    <h1>Aaron Gallant</h1>
    <blockquote>
      <q>His facility with the written words extends to an impressive skill at Scrabble, and the related game UpWords, which he loves to play.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/aaron1.jpg" alt="Aaron Gallant, age 38" />
      <figcaption class="figure__item caption">
        Aaron Gallant, age 38
      </figcaption>
    </figure>
  </header>


  <p>Aaron's mother and father remember bringing him as an infant to the little wooden hut, near the 40th Street UW entrance, where Val Dmetriev initially ran the infant stimulation program. Our recollection is that he was the second participant, after Denny Holton. He was in the program from well before age 1 until about age 2, then he was away for a year that the family spent in England, returning at the age of three to the program, by then established at the CDMRC.
  </p>
  <p>Aaron did not speak very much as a toddler, and was learning to read in Val and Pat's program already at age three. As a result, his mother and father sometimes communicated with him by means of written notes. Aaron has been a fluent reader for nearly 39 years now. He studies the advertisements and sometimes the reviews of movies in the papers in order to decide which films he would like to go to see. He apparently reads the subtitles in foreign language films, as he enjoys some of them and has specifically asked to see certain ones. He always reads signs, notices, placards in the zoo, restaurant menus, and so on.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/aaron3.jpg" alt="Aaron, age 4, reading Dr. Seuss Beginning Reader Series." />
    <figcaption class="figure__item caption">
      Aaron, age 4, reading Dr. Seuss Beginning Reader Series.
    </figcaption>
  </figure>

  <p>Aaron also has a lifelong habit of WRITING things. He spends time each day writing mysterious little haiku, and long lists of things; he (and his parents) have notebooks and notebooks filled with these. His facility with written words extends to an impressive skill at Scrabble, and the related game UpWords, which he loves to play. Once, several years ago, his father had a house-guest who was a distinguished British scientist and a Fellow of the Royal Society. Aaron came in a close second in two successive games of Scrabble the three of them played, much to the guest's amazement.
  </p>
  <p>It also has to be admitted that Aaron is not above a little cheating at Scrabble. At his father's place, he has occasionally made use of TWO high-scoring <q>Z</q> tiles. Since the game contains only one <q>Z</q> tile, he must have brought an extra one along to the house from his group home, perhaps transported up his sleeve. Aaron also likes to play draw poker, in which he discards and saves intelligently; neither of his parents, nor any of his housemates, taught him the game, as far as can be determined; Aaron refuses to reveal where he learned it.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/aaron2.jpg" alt="Aaron and classmates learning to court money at Green Lake Elementary--with Vickie Versdahd, AMDG Research Teacher." />
    <figcaption class="figure__item caption">
      Aaron and classmates learning to court money at Green Lake Elementary--with Vickie Versdahd, AMDG Research Teacher.
    </figcaption>
  </figure>
  <p>For years, Aaron worked at the sheltered workshop of the Northwest Center for the Retarded, taking two buses each way to get there and back. However, the strict regime he eventually needed to control his type 1 diabetes finally made continued work there too dangerous. Aaron handles all his own routine diabetic procedures, testing his blood sugar level four (and sometimes five or six) times a day, and injecting himself with two different kinds of insulin, choosing the appropriate volume to inject in relation to his just-measured glucose reading.
  </p>
  <p>From 1990 to 2008 Aaron lived in a Jewish Family Service group home, while frequently spending time away at a parental home. Since 2008, he has lived in Tania's Adult Family Home in Shoreline, but still spends every Sunday, and approximately every other whole weekend, with a parent.
  </p>
  <p>Finally, words fail me to express my and Aaron&rsquo;s mother&rsquo;s gratitude to Val Dmitriev, Pat Oelwein, and the entire EEU program of those early years.  It had, as the other parents mentioned, huge, invaluable consequences for the subsequent lives of our kids and, as it turned out, for kids with DS all over the world.
  </p>
  <p>As we know well, the EEU DS program constituted a real breakthrough in special education.  I appreciated this only a bit at a time.  In 1968, my laboratory had published a paper in Nature which was a preliminary sort of breakthrough, which was exciting, in its way. But I only gradually came to understand that the really important breakthrough of that period was the one that my son Aaron was part of.
  </p>
  <p>Jonathan Gallant</p>
  <p>An article about Aaron, some of his EEU classmates, and some thoughts about Down Syndrome children can be found at: <a href="http://www.ralphmag.org/ER/miller.html">www.ralphmag.org/ER/miller.html</a>.</p>

</article>
