<article class="article fade-in two">
  <header class="article__header">
    <h2><q>Kids on the Move	</q> Replication program <br>Orem, Utah</h2>
    <h4> Karen Hahne</h4>
  </header>

  <blockquote><q>There will never be an end to the good works begun at the University of Washington 40 years ago.</q></blockquote>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/kotm1.jpg" alt="Reed Hahne singing with 349 other students from Utah Valley University at a conference
      in Salt Lake City">
    <figcaption class="figure__item caption">Reed Hahne singing with 349 other students from Utah Valley University at a conference in Salt Lake City.</figcaption>
  </figure>

  <p>Congratulations to Valentine Dmitriev, Patricia Oelwein, and the project directors for their courage and determination
    40 years ago to begin the program at the University of Washington for individuals with Down syndrome and their families.
    That beginning has no end as their good works still inspire families.</p>

  <p>Twenty-eight years ago my husband and I became the adoptive parents of a baby who was born with Down syndrome. Although
    we had five other children we felt the need for education and support in order to help this new baby son.</p>

  <p>The first thing I did was to take him to the only program in our valley for children with disabilities, and during intake
    the director of the program told me to <q>love him, but don't expect much.</q></p>

  <p>I noticed that with a few exceptions the folks who worked at this site did not teach parents the <q>hows</q> of working
    with their children. I was with my child 24/7, they worked with him for 15 minutes a week. It didn't make sense to me
    that he would progress much without more intervention.</p>

  <p>Needless to say this wasn't a great beginning. My sister, who lives in Shelton, Washington, heard about Pat Oelwein and
    the program at the University. Pat and I both remember that I called her on a Sunday afternoon. She was so gracious and
    kind and gave me a lot of hope. I soon made a trip for the 2 week parent workshop in Seattle. I came back determined
    that my son would have a future, and become a contributing member of our community.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/kotm2.jpg" alt="Reed Hahne with Mary Kaye Huntsman, his partner for the Best Buddies Ball">
    <figcaption class="figure__item caption">Reed Hahne with Mary Kaye Huntsman, his partner for the Best Buddies Ball.</figcaption>
  </figure>

  <p>My friend (Brenda Wingear) and I began a program called <q>Kids on the Move</q> (Orem, Utah) which we incorporated 25 years
    ago, and which became a replication site for Pat&rsquo;s proven methods of teaching reading and math to children with
    Down syndrome and others with developmental disabilities. Pat made many visits to the center and participated in parent
    conferences. She demonstrated to parents that their children with Down syndrome could learn to read well, and their future
    success depended upon being able to read.</p>

  <p>Today Kids on the Move serves over 1500 families of infants and toddlers each year. From the very beginning we funded a
    resource library for parents which always has Pat&rsquo;s books for sale and parents are given hope, encouragement and
    the <q>how tos</q> to work with their children.</p>

  <p>Brenda and I made two trips to several cities in Russia to work with parents of children with Down syndrome and the professionals
    who provide services. We always took as many copies of Pat&rsquo;s book on reading as we could carry. This became one
    of the best ways we could spread the hope and encouragement in that country. We found that even in a country whose government
    did not appear to value its citizens with developmental disabilities, the parents believed in their children and were
    desperate for support and training.</p>

  <p>Our journey with our son, Reed, has taken us many places. He is a contributing member of this community. Last summer he
    had a role in the production of <q>Willie Wonka</q>. He sings and dances and in this production had some speaking parts.
    A few weeks ago a mother called and said that she had been to that production and was so impressed by Reed's performance.
    A few weeks later she gave birth to a son with Down syndrome. She wanted me to know how inspiring he was to her.</p>

  <p>Reed has served two missions for our church. He is a student at Utah Valley University where he is a sophomore and has
    a grade point average of 3.86. He tells me that he is a self determined young man and that is an understatement!</p>

  <p>Pat, the program, and her books have made all the difference in the world. I hate to think of what a different outcome
    we might have had, had I not come to the University of Washington that summer so many years ago. Pat and Valentine helped
    me feel confident. They valued parents and the parental role in their families. It has been said that a good beginning
    has no end. There will never be an end to the good works begun at the University of Washington 40 years ago.</p>

  <p>Karen Hahne, 633 West 80 North, Orem, Utah 84057
    <a href="mailto:karenhahne@msn.com">karenhahne@msn.com</a></p>
</article>
