<article class="article fade-in two">
  <header class="article__header">
    <h2>Literacy Skill Development</h2>
    <h4>Leslie Broun</h4>
  </header>

  <blockquote><q>I have never forgotten the thrills of hearing students read and say their first words.</q>
  </blockquote>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/broun.jpg" alt="Pat Oelwein and Leslie Broun">
    <figcaption class="figure__item caption">Pat Oelwein and Leslie Broun.</figcaption>
  </figure>
  <h4>Adapting the program for children with autism spectrum disorders</h4>
  <p>It gives me great pleasure to be able to contribute to the celebration of the work of Patricia Oelwein and the 40th anniversary of the Down Syndrome Program. In the fall of 1995 I became aware of Pat&rsquo;s book, <span class="booktitle">Teaching Reading to Children with Down Syndrome</span>. In my role as an itinerant resource teacher for students with special needs, I had twelve students with Down syndrome on my caseload and was always searching for new and effective ways to teach them.</p>

  <p>Pat&rsquo;s book was a revelation to me. The teachers and teaching assistants with whom I worked employed it rigorously with outstanding results. Many of those students carry their literacy skills with them into adulthood. I wrote to Pat telling her about our outstanding success, never expecting a reply, but a few weeks later received a lovely letter of encouragement and asking me to keep in touch.</p>

  <p>In 1997, I was able to attend the National Down Syndrome Conference in Edmonton, Alberta, where I knew Pat was going to be a speaker. I was so excited to go to her workshops and to spend two days with her. I listened to everything that she said and incorporated it into my practice. I knew that I was meeting one of the stars of the field. Also, in 1997, I began to use the methodology with my students with Autism Spectrum Disorders and was startled to discover how effective it was, not only in developing literacy skills, but also enabling some students to develop verbal skills: students who could not initiate conversational verbal speech, but could speak while reading. I have never forgotten the thrills of hearing students read and say their first words.</p>

  <p>Since that time, I have continued to implement and continue the work begun in the Down syndrome program, taking it all over Canada and suggesting its use for both students with Down syndrome and Autism. As well, I have used the methods with students who are deaf or hard of hearing and students with learning disabilities who have not been able to master sound/symbol associations and the efficient use of a phonological approach to decoding. Results are often dramatic.</p>

  <p>One of the greatest adventures of my life was accompanying Pat to Saudi Arabia for the first disability conference, organized by the Al-Nahda Philanthropic Society for Women. With Pat&rsquo;s expert consultation, they have created three schools for students with Down syndrome, each one a model school. She has been a driving force in increasing awareness of ability and disability issues in that country and enabling a greater understanding of the potential of citizens who have developmental disabilities.</p>

  <p>In 2006, it was my privilege to work with Pat in developing <span class="booktitle">Literacy Skill Development for Students with Special Learning Needs</span>. She was a most generous collaborator and, again, I learned so much from her. On a personal note, I must say that Pat Oelwein is one of the most gracious people I have ever met. She is warm and generous and has many wonderful stories to tell. I consider it an honor to know her and to have had her as my mentor.</p>

  <p>Leslie Broun</p>
</article>
