<article class="article fade-in two">
  <header class="article__header">
    <h1>Martha Hinojosa</h1>
    <blockquote>
      <q>She wrote her own speech for a black-tie fundraising event for the Sixth Day Club.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/martha1.jpg" alt="Martha at Lupita's 41st birthday party." />
      <figcaption class="figure__item caption">
        Martha at Lupita's 41st birthday party.
      </figcaption>
    </figure>
  </header>

  <p>Martha Hinojosa entered the Down Syndrome Program when she was three years old and became a member of the first reading class when she was four.  With Spanish the primary language used at home, she soon became bilingual.  She was in the first class that went to Green Lake Elementary in the AMDG project, then to Meany Middle School and Nathan Hale High School.
  </p>
  <p>While in high school, Martha became diabetic.  I was most impressed with how she learned to take care of her diabetes, testing herself and administering her own injections, and carefully watching her diet.  She and her boyfriend, Glenn Farmer, tall and blond, made a very handsome couple, as they went to the prom together Glenn was also a member of this first class.  Martha and Glenn graduated from Nathan Hale and entered the adult world.
  </p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/martha2.jpg" alt="Music class at Green Lake Elementary--forefront, Jeff, Melinda, and Martha." />
    <figcaption class="figure__item caption">
      Music class at Green Lake Elementary <br>Forefront, Jeff, Melinda, and Martha.
    </figcaption>
  </figure>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/martha3.jpg" alt="Aaron Gallant, Glenn, and Martha in their teens." />
    <figcaption class="figure__item caption">
      Aaron Gallant, Glenn, and Martha in their teens.
    </figcaption>
  </figure>
  <p>As a young woman, Martha lost her sweetheart, Glenn, in 1999 when he suffered heart failure, then her father, and later her mother.  Martha has survived these devastating losses and lives a full life today in her own apartment in an assisted living facility of the Benchero Friends Services.
  </p>
  <p>Her many activities include volunteering at the Food Bank and a nursing home.  She goes to yoga classes twice a week, and to an elder health day program, where she enjoys crafts. Martha is athletic and stays fit by participating in track and field, softball, basketball, and she recently won the regional metal in swimming.
  </p>
  <p>Martha enjoys dancing and socializing and goes to the Starlight Social Club once a week. She continues to put her reading and writing skills to good use. Recently, she wrote her own speech for a black-tie fundraising event for the Sixth Day Club.
  </p>

  <p>With her many friends and her sister and nieces and nephews, Martha lives a full life.
  </p>
  <p class="bottomfill">Patricia Oelwein, aka Teacher Pat<br />
    May, 2011
  </p>

</article>
