<article class="article fade-in two">
  <header class="article__header">
    <h2>Gigi&rsquo;s Playhouse Literacy Program</h2>
    <h4>Shari Andress Hoffman Estates, Illinois</h4>
  </header>

  <blockquote><q>Miss Shari, I&rsquo;m here for reading!</q></blockquote>
  <h4 class="sub">A reading program that has spread to nine centers.
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/Andress.jpg"alt="Shari and Heather Andress">
    <figcaption class="figure__item caption">Shari and Heather Andress.</figcaption>
  </figure>
  <p>I heard Patricia Oelwein talk about her reading program when my daughter Heather was only three years old. I knew right away this was going to be a perfect program for us. It had all of the components I loved: very easy, very individualized, very cost effective and it worked every time!!! GiGi&rsquo;s Playhouse was a perfect place to help parents and kids get started with this program. Nancy Gianni, the founder of GiGi&rsquo;s Playhouse, totally agreed and the next thing I know we had a tutoring program with more kids than I could handle and the program began expanding faster than I could keep up!</p>

  <p>One of my favorite memories is of a little boy named Ian. He loved the program from the very beginning. He was smiling and having a great time during our first session. When Nancy came in she couldn&rsquo;t believe it. She told me this little boy hardly ever smiled like that for anyone other than his family. She often talks about how that smile confirmed what we already knew - this program was going to be fantastic! A few years later, his mom stopped me at a function to thank me and tell me Ian was one of the best readers in his entire Kindergarten class! I was so very proud of him and so very thankful for this program. Another day, a mom started crying as her teenage son read his first sentence to her out loud. "Miss Shari, I&rsquo;m here for reading!" echoes through my ears as I think of all the great tutoring sessions I have facilitated using the program developed by Patricia Oelwein at the University of Washington!</p>

  <p>Today, the GiGi&rsquo;s Playhouse Literacy Program takes place at all 9 Playhouse locations and has reached well over 2000 kids and adults with Down syndrome. Each Playhouse has a waiting list of students and receives calls on a weekly basis asking for tools, trainings and resources with which to implement the program. All Playhouse locations serve not only the individual with Down syndrome, but the community at large. Through Educator and Therapist Open Houses, teachers, speech therapists, and other professionals come together with GiGi&rsquo;s Playhouse representatives to share strategies and tips to support the learning style of each individual with Down syndrome.</p>

  <p>As Playhouses continue to open across the nation and even internationally in Mexico, we know that the Literacy program will continue to open doors, replace outdated perceptions and change lives as individuals with DS are given the tools they need to reach their highest potential.</p>

  <p>Congrats again! Shari Andress Heather&rsquo;s Mom
    <a href="http://www.gigisplayhouse.com/">gigisplayhouse.com</a></p>
</article>
