<article class="article fade-in two">
  <header class="article__header">
    <h1>Melinda Teeny</h1>
    <blockquote>
      <q>Melinda is quite a traveler.  She has attended family reunions in nine different states, visited Disneyland various times with both family and her ski team, and spent part of two summers in Lebanon with her family.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/melinda1.jpg" alt="Melinda in preschool, across from Melinda, Christy Byron, in foreground, Scott Gatto." />
      <figcaption class="figure__item caption">
        Melinda in preschool, across from Melinda, Christy Byron, in foreground, Scott Gatto.
      </figcaption>
    </figure>
  </header>

  <p>When Melinda was born, the doctor said she had all the symptoms of a mongoloid.  We were told that we might want to put her in an institution, as she may not be able to toilet train or do much of anything.  We said &ldquo;No, we will take her home and love and treat her like her siblings.&rdquo;
  </p>
  <p>In August 1970, through friends, we heard about a doctor who had a grant and was working with Down syndrome babies. The materials they were using for their program were from the EEU at the University of Washington.  He had someone who would come to the home and work with the Down syndrome child and his/her family. We contacted them and a girl came to our home twice a week and worked with Melinda from September 1970 until January 1971 when the grant ran out.  We were then told to contact Dr. Val Dmitriev at the University of Washington Experimental Education Unit.  We contacted the program at the University of Washington just before Melinda&rsquo;s first birthday, March 10th 1971.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/melinda2.jpg" alt="Melinda in kindergarten--ballet circus unit." />
    <figcaption class="figure__item caption">
      Melinda in kindergarten--ballet circus unit.
    </figcaption>
  </figure>

  <p>The spring quarter was starting March 23rd and at that time we enrolled Melinda in Dr. Dmitriev&rsquo;s program.  She completed the EEU program and entered the AMDG program at Green Lake Elementary School.  She continued her education at Meany Middle School and graduated from Nathan Hale High School in 1991. This would not have happened if she did not have the early intervention help from Dr. Dmitriev&rsquo;s program.
  </p>
  <p>After graduation Melinda worked one summer in the mailing department at Safeco.  She also volunteered in the mailing department at the University Hospital for a short period of time. Since March 1992, Melinda has been working for PCC Natural Food stores in the Deli department.  She currently rotates working at three of the PCC Natural Food Stores.  She likes her work and calls her co-workers her family.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/melinda3.jpg" alt="Melinda Teeny with Special Olympics medals." />
    <figcaption class="figure__item caption">
      Melinda Teeny with Special Olympics medals.
    </figcaption>
  </figure>

  <p>While attending Meany Middle School, Melinda began participating in Special Olympics athletic events.  She is still actively involved as a member of both the ski team and the swim team for Special Olympics.  She has received many medals in both activities and will proudly show anyone interested her most recent awards and medals.
  </p>
  <p>Melinda is quite a traveler.  She has attended family reunions in nine different states, visited Disneyland various times with both family and her ski team, and spent part of two summers in Lebanon with her family.
  </p>
  <p>In addition to her job and athletic activities, Melinda enjoys working on word search puzzles and walking around Green Lake and her neighborhood.  She lives at home with her mother and enjoys spending time with her family and friends.
  </p>
  <p class="bottomfill">Alice Teeny<br />
    May 10, 2011
  </p>
</article>

