<article class="article fade-in two">
  <header class="article__header">
    <h1>Kari Sellars</h1>
    <blockquote>
      <q>Of all the skills she learned, reading was far and away the most important.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/kari1.jpg" alt="Kari reading in kindergarten." />
      <figcaption class="figure__item caption">
        Kari reading in kindergarten.
      </figcaption>
    </figure>
  </header>

  <p>Kari&rsquo;s family heard about the EEU&rsquo;s Model Down Syndrome preschool purely by chance, having just returned from three years working abroad, in the fall of 1972.  Fortunately, Kari was accepted at the age of four and lost no time becoming a fully integrated participant.  Of all the skills she learned, reading was far and away the most important.  There  were many opportunities to use her reading skill later in her schooling, but no actual <q>teaching</q> of reading.  Her cohort was like a slow wave, pushing middle and high schools to plan for and accommodate students with intellectual disabilities.  Until 1981, all such Seattle students were segregated into one school for ages 12 to 21, delaying or losing the opportunity to see themselves as part of the whole community.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/kari3.jpg" alt="Classmates reunion, March 12, 2011,  Mendy Teeney, Lupita Cano, Patrick Willaford (behind Lupita), Christy Byron, Kari Sellars, Jeff Benson, and Pat Oelwein." />
    <figcaption class="figure__item caption">
      Classmates reunion, March 12, 2011,  Mendy Teeney, Lupita Cano, Patrick Willaford (behind Lupita), Christy Byron, Kari Sellars, Jeff Benson, and Pat Oelwein.
    </figcaption>
  </figure>

  <p>Kari spent an extra year at Green Lake Elementary while the school district prepared a place for her class at Meany Middle School.  She was able to participate in a reading class for 6th graders, art, choir, PE classes, and learn about Middle School behavior norms.  From Meany she went on to Nathan Hale High School, our neighborhood school.  For PE she chose Swimming, joined the school swim team and earned a Letter!  She almost never missed a school dance and enjoyed all the activities around graduation.
  </p>
  <p>After graduating from Nathan Hale High School in 1989, Kari entered an <q>Employment Training</q> program at the University of Washington. She became a very capable washer of pots and pans, but had no chance to do what she enjoyed, office work.  After a frustrating couple of years, she found the ideal job with the ideal company as an OFFICE ASSISTANT at PCC Natural Markets.  Nearly twenty years later she still loves her job.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/kari2.jpg" alt="Kari 'cooking' in preschool." />
    <figcaption class="figure__item caption">
      Kari 'cooking' in preschool.
    </figcaption>
  </figure>

  <p>Another milestone of 1989 was the move into Karistad, a home to share first with her parents, then with various housemates.  Her parents moved back to their original home in 1993 but Kari still lives in her <q>big</q> house with four housemates.  Her early training in <q>pot-washing</q> has stood her in good stead!
  </p>
  <p>Kari has been active in Special Olympics  sports, winning dozens of gold medals in track, swimming, skiing, tennis, bowling, softball and most recently, golf.  Besides the physical benefits of sports, she has a large number of teammates among her friends.  She joined a church several years ago and is thrilled to be member of the regular choir.   She diligently practices learning all the performance numbers by singing with the CD her choir director creates.
  </p>
  <p>Kari faces the future with the help and support of her LifeSPAN network, the very first one to be established.  She is financially secure, comfortable with her friends and family and still open to new experiences.  Thanks to the EEU for giving Kari a good start!
  </p>
  <p>Kathy and Bill Sellars </p>
</article>
