<article class="article fade-in two">
  <header class="article__header">
    <h1>Tributes to Dennis Holton, <br>1968-2007</h1>
    <blockquote>
      <q>It all started with one baby</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/dennis4.jpg" alt="Dennis, 4 years, drawing." />
      <figcaption class="figure__item caption">
        Dennis, 4 years, drawing.
      </figcaption>
    </figure>
    <h2>Tribute to Dennis Holton <br><span class="author">by Patricia Oelwein and Margaret Holton</span>    </h2>

  </header>

  <p>Dennis Gregory Holton was the first pioneer in the Down Syndrome Program, Experimental Education Unit (EEU), University of Washington. He was the first infant in Val Dmitriev&rsquo;s pilot program and the first child, at 3 years of age, to learn to read and use of sign language. Dennis passed away April 10, 2007 due to complications of diabetes. He was 39 years old.
  </p>
  <p>Dr. Dmitriev met Dennis and his mother, Margaret, at the Developmental Psychology Lab (DPL) when Margaret, with Dennis in an infant carrier on her back, came to the lab to pick up her older son who attended preschool there.  When Val approached Margaret about an intervention program for Dennis, she welcomed the opportunity.  Dennis readily responded to Val&#8217;s teaching, and she made a movie,  <q>The Operant Conditioning of a Down&#8217;s Syndrome Infant</q> that demonstrated his accomplishments.
  </p>
  <p>Val Dmitriev&rsquo;s pilot infant program grew fast. Dennis&#8217; pediatrician recommended that babies, who were born with Down syndrome in the HMO hospital, be referred to Val Dmitriev at the DSL. She soon had enough data to write a proposal that was submitted to HCEEP by Dr. Alice Hayden and Dr. Norris Haring at the EEU. This was the beginning of the Down Syndrome Program that received federal funding from 1971 to 1989, and continues to contribute to the education of children with Down syndrome on six continents.
  </p>
  <p>It was Dennis who &#8216;paved the way&#8217;, demonstrating the effectiveness of intervention during infancy, the ability of preschool children to read and obtain a &lsquo;visual&rsquo; language before a &lsquo;verbal&rsquo; language, and the use of sign language to facilitate communication in children with Down syndrome.
  </p>
  <p>Dennis will always hold a special place in my heart.  He was very special in many ways.  Because of him, many dreams have come true, and thousands of children and adults with Down syndrome are literate. You can see by photos of him that he was a beautiful little boy who pulled many heartstrings.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/dennis1.jpg" alt="Dennis, 38 years old." />
    <figcaption class="figure__item caption">
      Dennis, 38 years old.
    </figcaption>
  </figure>

  <h3>Margaret Holton&#8217;s Story
  </h3>
  <p>When we lived in university housing, in 1965, a neighbor studying speech therapy had advised me to sign up for the child psychology department&#8217;s preschool so as to get my son in when he was old enough, as the competition for good preschools was fierce.
  </p>
  <p>Dennis, my younger son, was born in 1968 with Down syndrome and clubfeet. His feet and ankles were immediately addressed with manipulation and casts, and the possible problems of limpness, weakness and over-quietness never showed up. I found out that the U&#8217;s preschool for the retarded, (That was the term then.) required toilet training, while his big brother&#8217;s didn&#8217;t. Since I&#8217;d noticed that that preschool also had kids with assorted problems, I brought Dennis, diapers, casts and all, in on my arm while dropping his brother off and asked if he&#8217;d be eligible for preschool there in three or four years. Val Dmitriev was the head teacher and had previously taught at a local home for the retarded, speculating that Down&rsquo;s kids might do better if started young.
  </p>
  <p>She acquired students as teachers and supervised a one-on-one program for bringing Dennis up to normal developmental goals. The program began when he was about seven months old. He made some milestones and missed others, but he sure had fun trying.
  </p>
  <p>I found being able to try something to help, not only getting him to class, but trying suggested new approaches and talking with other DS parents very comforting.  Dennis&#8217; pediatrician was head of pediatrics for a big local HMO, so when other DS babies were born there, doctors were ready with an immediate referral for the parents.
  </p>
  <p>The program grew, one baby at a time. Meanwhile the local activist parents had gotten government funds to build an experimental school for the retarded on campus, and the program moved there as the DS experimental preschool in the Experimental Education Unit.
  </p>
  <p>Margaret Holton</p>
</article>
