<article class="article fade-in two">
  <header class="article__header">
    <h2>A Father's Story</h2>
    <h4>Keiichi Eguchi</h4>
  </header>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/family.jpg" alt="Family photo of Keiichi, Shunsuke, Yusuke, &amp; Etsuko Eugchi.">
    <figcaption class="figure__item caption">Family photo of Keiichi, Shunsuke, Yusuke, &amp; Etsuko Eugchi.</figcaption>
  </figure>
  <p><em>Note from Patricia Oelwein:</em> Keiichi Eguchi and his wife, Etsuko, enrolled their son, Yusuke, in the infant program
    at the University of Washington in 1982. Soon afterward, Keiichi attended the Fathers Program. Keiichi told me he was
    very impressed with those sessions and the support he received a whole session was focused on him and his needs. The
    counseling he received put him at ease, and he was able to present his baby with Down syndrome to his parents with pride.
    Grandparents welcomed him with open arms. Keiichi went on to establish a printing business that employs people with disabilities.
    Here is his award winning essay (translated from the Japanese by Eguchi), reprinted with his permission.</p>
  <h4>KEIICHI EGUCHI</h4>
  <h4>My son was born in the USA with Down syndrome</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/Yusuke.jpg" alt="Yusuke">
    <figcaption class="figure__item caption">Yusuke</figcaption>
  </figure>
  <p>I have a 28 years-old son who has Down syndrome. It has been 10 years since he began working at a day service center for
    the elderly. March 2004 he took the second grade home-helper qualification, which was the first training program for
    persons with intellectual disabilities in Japan. It has also been 10 years since I founded the special subsidiary company
    to employ persons with disabilities.</p>
  <p>I worked in Los Angeles for 4 years since 1977 and in Seattle for 3 years at YKK CORPORATION in the U.S.A. (YKK U.S.A.
    INC.) My oldest son who was born in Los Angeles didn't have any particular problems. However, my second son, Yusuke,
    was born in Seattle with Down syndrome September-6th 1982. When the doctor said, <q>I am very sorry. As a result of chromosomal test, Yusuke has Down syndrome and also intellectual disability.</q>    My wife and I were unspeakably shocked and got our body down.</p>
  <p>However, the doctor made us so encouraged. <q>You are chosen by God because you have capacity and strength to grow up a disabled child. Please bring him up with your deep love.</q>    Then we were introduced the University of Washington.</p>

  <h4>Advice-crucially important for my life</h4>
  <p>My wife and I took Yusuke to the Experimental Education Unit of the Center on Human Development and Disability. There was
    an education program to support intellectual development for persons with Down syndrome at the early stage. It was a
    type of training that applied specific gross-motor exercises to develop his muscle tone.</p>
  <p>There was a unique program called <q>father's program</q> that helped fathers to understand their child's disability and
    the father's role in raising a disabled child at home. At that time Susan Sandall was the coordinator in the infant program
    and Greg Schell was the coordinator of the father's program. The most impressive words I heard in the program were great
    advice from Greg Schell: <q>Mr. Eguchi, every father tends to quit their job as soon as disabled children were born because they can do nothing now. However, someday you will have a great chance to play an important role as his father. Please wait. Don't think about his future so quickly.</q>    This advice became crucially important for my life.</p>
  <p>After 6 months in the University of Washington, we were wondering whether or not we should go back to Japan. We asked the
    therapist and doctor. They advised me that it is very difficult for persons with intellectual disabilities to learn bilingual
    communication and to grow him up just me and my wife. Also, we needed essential supports from his grandparents and others.
    Therefore, we came back to Osaka in August 1983.</p>
  <p>We really hoped him to be such a person who can understand people's mind and also to live as ordinary people do. It is
    the unquestioned fact that he cannot do everything he wants. He needs definitely many supports by others. Therefore,
    we thought that our family should stand together and do everything we can for him. My wife doesn't look like a mother
    who has a disabled child. Also, the oldest son treats him as a normal younger brother. My wife actively brought him everywhere
    and he experienced everything ordinary children usually did. He grew up with children in the neighborhood. Therefore,
    I think they didn't see him as a disabled child.</p>

  <h4>Working at day service center</h4>
  <p>Yusuke entered school for disabled children after graduating from the local junior high school. He is able to adapt any
    situations and understand someone's feelings although he is not good at having communication. When he was a second year
    student, his teacher asked me about his career choice. We thought it was quite difficult for my son to be employed as
    soon as he graduated because of his personality (shyness), as the teacher said as well. Therefore, we asked to enter
    vocational school named <q>Osaka City Vocational Rehabilitation Center</q>. When he became the third year student, he
    was trying eventually to understand the meaning of <q>Work</q></p>
  <p>In September, when my wife visited the center, the social worker said, <q>This is not a goal to work but a process to work. I am sure Yusuke can work and find a job. This is the time to think about his job.</q>    After that, we changed the plan. Although the teacher was very surprised a sudden changed plan, my son's hope to work
    was very strong.</p>
  <p>It is quite sure that he cannot work at companies seeking efficiency and productivity. However, my idea was that working
    at day service center was suitable for persons with Down syndrome because of their own character. I asked a guidance
    counselor in school to seek job vacancy at day service center.</p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/atwork.jpg" alt="Yusuke at work.">
    <figcaption class="figure__item caption">Yusuke at work.</figcaption>
  </figure>
  <p>The next February, the good news of a job offer from day service center, <q>Tomatoes in Andes</q> in Higashiosaka City,
    was suddenly delivered by the teacher. After that, his internship was immediately started. It was the first time for
    the center to hire a disabled person. However, a board chairperson and director of the center did not care about his
    disability, focusing on his ability to work. The director was a good job coach in the internship.</p>
  <p>His job was to support co-worker, serve tea and food for service users, clean bathroom, bath and cars, and help with recreation
    work. After one-week internship, we were very happy when the director said, <q>He can work here</q>. In March 2001 before
    graduation ceremony, we received an acceptance letter.</p>

  <h4>Challenge to get the home helper's qualification</h4>
  <p>When my son and I were taking a train to the office together, I had an indescribable feeling. He said <q>Dad, work hard!</q>,
    when he changed the train. It was a great word I had ever heard from him.</p>
  <p>After that, my son got used to working the center and the director and stuff coached him at times strictly and gently.
    They socialized off the job, for example, going to the stadium of favorite professional baseball team <q>Hanshin Tigers</q>,
    doing Karaoke. I am very appreciated their point of view that my son is a necessary staff in the center. However, after
    working 2 years, the director reported and asked me, <q>He is getting used to his job. But, recently he has tended to skip his work. I am thinking about his career-up now. Do you know any systems which a person with intellectual disability can get the home helper qualification?</q></p>
  <p>Then, I visited Osaka City Vocational Rehabilitation Center and was introduced another facility <q>Osaka City Vocational Coach Center</q>    that started training programs of the third grade home helper for disabled people from May 2003. When I asked my son
    if he wanted to study there, he answered quickly <q>I wanna do it!</q> Also, the director agreed. On July, the program
    was finished. After getting the qualification, he seemed to be more confident.</p>
  <p>However, the center hoped my son to get the upper grade qualification in order to work as a main stuff because the third
    grade home-helpers are not allowed to touch service users. On December 2003, before the new program started, I asked
    my son <q>Do you want to take the second grade home helper qualification?</q> He said, <q>I do not know the meaning of the qualification but I wanna do it.</q>    I consulted with the director about that. He said, <q>It is necessary for his career. I will teach him</q>. Also, he
    was going to be a lecturer in the new program.</p>

  <h4>The course text opens up to understand his disability</h4>
  <p>What my son showed me after finishing his first day of the program was a course text for the second grade home helper.
    Although the text was 0.6 inch thick, there were a lot of cute illustrations and large and easily understandable letters
    and also, every <q>kanji</q> have readings printed in <q>kana</q>. The text made me so happy when I was reading. In addition,
    I understood how familiar with persons with intellectual disabilities the lecturers were. I was cheering my son up till
    the last day of the program because I would really like to take the qualification after learning this text.</p>
  <p>What I was really surprised was fully detailed explanation of Down syndrome in the chapter <q>Understandings of Disability and Disorder.</q>    It was the first time when he studied his disability as well as other students. Although I haven't asked him whether
    or not he understood his own disability, he didn't seem to do so. When he met persons with physical disabilities, he
    usually said, <q>He has a big problem.</q> However, after the course, he said <q>Dad! Mom! Maybe I have a disability!</q>    It was a great chance to understand his disability. I think it was a good experience for him.</p>
  <p>The course program consisted of 62 hours of lectures and 47 hours of practices. Also, the text of skill practice that was
    written the same way as the lecture text was delivered. There was homework in the chapter of <q>Care for the Egestion and Incontinency</q>,
    which tries what he learnt in the course and experiences the feeling of service users. One day, I saw a disposable diaper
    (pants) in his bag. Suddenly I heard something form his room <q>Mon!</q> When we entered, he was standing on the bed
    and putting it on very hard. We were surprised and laughed a lot. He seemed to feel shame because it was too small for
    him. At that night, he went to bed with the disposable diaper.</p>

  <h4>Step-up to the second grade home helper</h4>
  <p>In March 58 hour practices started. During the course he had a care internship at elderly facilities, and home based services.
    On the first day, he should meet an instructor in Osaka Vocational Coach Center, but he didn't come to the meeting spot.
    He used the wrong exit of the subway. However, he managed to arrive on time. Although I was very worried every day, that
    he could arrive on time at his internship place, he could finish the course. To be honest, I thought it was almost impossible
    to take the second grade home helper qualification. But, after starting his internship, I was feeling his strong intension
    and he did preparation and reviews very well every day.</p>
  <p>On 26 March 2004, my son and other 8 students finished the training course of the second grade home-helper. I will never
    forget their smile arisen from a sense of achievement in the ceremony.</p>
  <p>It was a historic day for all persons concerned, local government, lecturer, parents and the graduates. There were a large
    number of risks that persons with intellectual disabilities took the qualification. Therefore, it means that the new
    door opened for the employment of disabled people. Most of attendance in the ceremony was moved to tears, expressing
    their happiness and gratitude, as well as I felt.</p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/ceremony.jpg" alt="Ceremony in which Yusuke received his certificate.">
    <figcaption class="figure__item caption">Ceremony in which Yusuke received his certificate.</figcaption>
  </figure>
  <p>More happily, all 8 students who finished the course were employed at the elderly care facilities, and are still working
    nowadays. I really wish that they will keep working there as a pioneer of intellectual disabled and also will be hopeful
    days for them. The qualification made my son more confident than before. Today, I feel his mental development for human
    being and self-awareness for business worker as a range of his work expands.</p>
  <p>On May, an invitation card to attend the wedding of his co-workers arrived to him. Four years he had been working, I really
    appreciate that every co-workers accepted him as a work mate. At the same time, I am very proud of his effort. He is
    the longest-working employee now. I really feel that people have disabilities can work with a powerful and heart-warming
    support, even if they have disabilities. I could see what we didn't know at home or school throughout his working. He
    has been appealing for a long time, <q>I wanna marry!!</q> After the wedding party, I think his wish became stronger.
    He likes a kind person. Please introduce someone to him if you know.</p>

  <h4>My role and chance as his father</h4>
  <p>I hadn't cared about my son's education until he became a junior high school student, always relied on my wife. But, as
    he grew up gradually, he turned his eyes on father. This was the time to think about his future. We began to research
    what situation persons with disabilities faced after graduated the school. It resulted that their situation was very
    bad. It was almost difficult to be employed. So, we really thought we should consider seriously about his future.</p>
  <p>Just in time, we read an article in the newspaper that one electricity company established a special subsidiary company
    for the persons with disabilities. We really wanted to know what we need my son to be employed in this company and how
    they work. Therefore, my wife and I visited as soon as we read the newspaper. The company had an outstanding building
    and system. A person in charge told me <q>If you think about his future, I recommend it is better to establish the same company as we did in your company (YKK). And, please hire more persons with disabilities.</q>    It reminded me what a therapist in Seattle advised me. It was a big chance and the time to play my father's role.</p>
  <p>Although I didn't have good enough knowledge and experience of the special subsidiary company for the persons with disabilities,
    I did its research for several months and prepared to found the company. Then, I made the company philosophy and outline
    of the business. I really hoped to introduce the president of the company I work for to the idea that a father who has
    a person with disability could do something.</p>
  <p>On September 1995, the president came to Osaka and the branch manager and I entered to an executive room. I was very nervous
    but could calmly explain my plan. Probably my son pushed me from behind. The president had already known and understood
    a quota system and the special subsidiary company for the persons with disabilities. After a while, he said <q>I agreed with your plan. It doesn't matter if the outline of business is suitable for persons with disabilities. You don't have to be rigidly committed to our business, and also where you will build the company. I will give you 5 years. So, give me a business plan that produces profit in 5 years.</q></p>
  <p>If the president didn't agree, this business wouldn't be difficult to start. I was very content and could see a bright
    future.</p>

  <h4>The establishment and management of YKK ROKKO CORPORATION</h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/attheoffice.jpg" alt="Keiichi at the office.">
    <figcaption class="figure__item caption">Keiichi at the office.</figcaption>
  </figure>
  <p>Afterwards, the company was built in Rokko Island in Kobe City. On April 1999, YKK ROKKO CORPORATION started our business as a printing company of YKK Group. It was great departure of 15 people who were consisted of 10 persons with disabilities and other workers. In this year, YKK group reached an aggregate level of the quota ratio (1.8%).</p>
  <p>Our company has carried on the business for 10 years, with the Management Principal <q>Cheerfully, gently, strongly</q>,
    and two business policies <q>Disabled employees take leading roles in business</q> and <q>Achieve a balance between promoting employment of the disabled and business success</q>.</p>
  <p>It was a start from zero. However, with hard workers, skilled instructor, many offers from parent companies and also good
    cooperation in human resources, business income and expenditure achieved a surplus in the fifth year of the company.
    Now daily work is conducted by them and also one of them will be a manager.</p>
  <p>In addition, there are 14 disabled employees including persons with intellectual disabilities and also received a message
    from parent company <q>you could do it!</q> I am very glad to put away negative stereotype of employment of the disabled
    and have achieved a balance between promoting employment of the disabled and business success. As a long term goal, we
    strongly intend to grow human resources who can join and take an important role of the management in the company.</p>
  <p>Yusuke is 28 years old now. Since he was born in Seattle, a large number of problems have been solved by many people who
    supported us. I am very happy that my son could be employed and take the second grade home-helper qualification, and
    that I could give a chance for persons with disabilities as a result of employment of my son.</p>
  <p>My oldest son, Shunsuke, is about to go to the UK in order to study NPO and community business. My wife, Etsuko, is always
    nice and happy. Some might say that family who have a disabled child faces hard situations. However, my son, Yusuke is
    a precious gift from God. We are very proud of him.</p>
  <p>It seems to be a long road. But recently my wife and I have told, <q>We are here because he is here</q>. (This is based
    on a transcript of my experience to apply for a short story competition of NHK on the theme of Disability and Welfare.)</p>
</article>
