<article class="article fade-in two">
  <header class="article__header">
    <h2><q>Reading About Me</q> (RAM)</h2>
    <h2>Down Syndrome Association of Southern Oregon</h2>
    <h4>Joyce Rogers, Reading Program Director</h4>
  </header>

  <blockquote><q>At the next board meeting I decided that I would offer to teach the class a brand new direction for me</q>
  </blockquote>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/joyce1.jpg" alt="Joyce Rogers and daughter Ariel">
    <figcaption class="figure__item caption">Joyce Rogers and daughter Ariel</figcaption>
  </figure>
  <h4>Taking RAM program to four local school districts</h4>

  <p>In late 2003, I had the great privilege of attending one of Patricia Oelwein&rsquo;s workshops. She came to teach techniques from her book, <span class="booktitle">Teaching Reading to Children with Down Syndrome,</span> to a large group in Southern Oregon. I am the mother of a 13 year old daughter with Down syndrome. She was five years old at the time. I was, to say the least, in complete amazement when, in just a few short moments, Pat was able to teach my daughter to read the words Mama, Daddy, Nanny and Papa.</p>

  <p>I purchased her book immediately and could not wait to get home to start working with my daughter. Being in business management, I had no intentions of doing anything other than using this program to teach my own daughter to read. Other things were in store for me, as it turned out.</p>

  <p>At the time I was a board member of the Down Syndrome Association of Southern Oregon (DSASO). We held a meeting about a week after the workshop and discussed starting a pilot program here in Southern Oregon to offer reading instruction, using Patricia&rsquo;s techniques. With a lot of motivation from all of us on the board, we decided to scout out some good prospective teachers for our pilot program. We were not coming up with anyone we felt would deliver the program exactly the way we had hoped, namely, sticking to the techniques in Patricia&rsquo;s book.</p>

  <p>By the next board meeting I had decided, I would offer to teach the program. This was a very big step for me to leave a job of 10 years and take a direction I wasn&rsquo;t even sure I was capable of doing. But I was so inspired by Patricia I just felt in my heart it was the right thing to do. I also had the assurance from her that she would coach me along the way.</p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/joyce2.jpg" alt="Joyce Rogers with a student demonstrating teaching reading at Barnes &amp; Noble">
    <figcaption class="figure__item caption">Joyce Rogers with a student demonstrating teaching reading at Barnes &amp; Noble</figcaption>
  </figure>
  <p>The DSASO made a vote and there you have it. The beginning of what has been a seven-year blessing. Pat suggested I meet Terry Brown who developed the program <q>So Happy to Learn</q> in Irvine, California. So I contacted her and she welcomed me to come and observe her program. Visiting with Terry and watching her wonderful program was another confirmation that this was the right thing to do.</p>

  <p>When I returned home, I began teaching 10 students with Down syndrome ages 4-42. I worked with them 1:1. In a very short time that 10 went to 20. We were so pleased with the results we were seeing and thought we should offer this to anyone struggling with traditional reading methods. So we did just that. It proved to be successful for all enrolled. That 20 eventually led to over 30.</p>

  <p>After teaching the <q>pilot program,</q> which was intended to last just a year, was well into the third year. At this point felt confident that we had the data that would hopefully get schools interested in adopting this program. So with much dialog with the families in the program, we decided the best way for this to happen in the schools was to offer a workbook to go along with Patricia&rsquo;s book.</p>

  <p>After much work in putting a workbook together, we asked Patricia to come look it over and give us her advice. We then produced the reading program, <q>Reading About Me!</q> (RAM!), which is now being used as a pilot program in several schools in four local districts.</p>

  <p><q>Reading About Me!</q> is a wonderful program that was born from Patricia&rsquo;s book, <span class="booktitle">Teaching Reading to Children with Down Syndrome</span>.  I cannot express my gratitude enough to Patricia for creating such a dynamic and unique way of teaching reading. Patricia, you are an amazing gift to so many. Your wonderful work has touched so many families here in Southern Oregon and will continue to do so.</p>
</article>
