<article class="article fade-in two">
  <header class="article__header">
    <h1>Jeff Benson</h1>
    <blockquote>
      <q>He subscribes to the Everett Herald...</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/jeff1.jpg" alt="Jeff Benson" />
      <figcaption class="figure__item caption">
        Jeff Benson
      </figcaption>
    </figure>
  </header>

  <p>We are the parents of Jeff Benson, who is 43 years old and has Down syndrome.  He was in the pioneering class for the Down Syndrome Program  (DSP) at the Experimental Education Unit, University of Washington.  He joined the program when he was 3 years old and continued in the AMDG program at Green Lake Elementary until he was 11 years old, when we moved out of the Seattle School District.
  </p>
  <p>When I think of the DSP, or any of the people that we met through this experience, I just get the warm fuzzies inside.  Our whole family feels the same way a smile comes to our lips.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/jeff2.jpg" alt="Christmas in Jamaica." />
    <figcaption class="figure__item caption">
      Christmas in Jamaica.
    </figcaption>
  </figure>
  <p>Jeff can tie his own shoelaces because he had a student spend one quarter patiently teaching him this one thing.  Jeff lives by himself in an apartment, which is located in an assisted living complex.  He subscribes to the Everett Herald and scans then reads the articles that interest him each day.  This is because the teachers in the program taught him to read.  He learned so many things while there that have helped make him to become the well-adjusted adult that he is today.
  </p>
  <p>The staff from the program also helped the parents.  The staff wholeheartedly believed that children with Down syndrome could learn.  We parents always knew that these kids were bright, but it was so wonderful to have someone agree with us.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/jeff3.jpg" alt="Jeff in preschool with Pat Evezich." />
    <figcaption class="figure__item caption">
      Jeff in preschool with Pat Evezich.
    </figcaption>
   </figure>

  <p>I have made wonderful, life-long friends from this experience, and our family can never thank them enough for their dedication to the Down Syndrome Program and our special children.
  </p>
  <p class="bottomfill">Paul (Len) & Carol Benson
  </p>
</article>
