.figure {
  width: 90%;
  margin: 1rem 0 3rem 0;
  padding: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $color-grey-light;
  border-radius: 10px;

  & .image {
    width: 100%;
    padding: 4px;
    border-radius: 10px;
  }

  & .caption {
    text-align: center;
    padding: 1rem;
    font-style: italic;
  }
}

.welcome {
  max-width: 40rem;
  min-width: 20rem;
}
