<article class="article fade-in two">
  <header class="article__header">
    <h2>The P.R.I.D.E. School <br>Vancouver, Washington</h2>
    <h4>Rosanne Royer</h4>
  </header>

  <blockquote><q>PRIDE empowered us to advocate for our
    children and taught us to teach everyone around
    us that our children were worth being included.</q></blockquote>

  <h2>First full satellite (service and training) of the Down Syndrome Program of the University of Washington </h2>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/jason2.jpg" alt="Judy Marick and son Jason">
    <figcaption class="figure__item caption">Judy Marick and son Jason.</figcaption>
  </figure>

  <p>In Vancouver, Washington Judy and James Marick had been looking for help for their son Jason when they heard Valentine
    Dmitriev speak at a conference sponsored by ARC Clark County in Vancouver in 1975. They asked her to help them set up
    a program for children with Down syndrome, and things happened fast.</p>

  <p><q>Val invited us to her hotel room,</q> says Marick. <q>She set up a movie screen and slide projector and showed us what they were doing at the University of Washington.  She worked with Jason on her bed in the hotel room. He was five weeks old.</q></p>

  <p>Dmitriev returned to Vancouver soon after and conducted a workshop. As a result, the first University of Washington satellite
    program was established in 1976 in Vancouver, Washington, under the auspices of Clark Community College. Called PRIDE
    (Parents Receiving Individual Developmental Education), the program remained at the college for 25 years and then moved
    into a new facility shared with ARC of Clark County.</p>

  <p>Judy Marick, a founder of PRIDE, says, <q>To have Val tell me, &lsquo;Yes, Jason can learn,&rsquo; just opened the door, and instilled in me the strength and confidence to know this, and more importantly to share this with other people and then go to bat for Jason when people did not believe in him or my message.  And as I saw Jason learn and develop from infancy, my belief was stronger and stronger.  At the same time as our little ones grow, and we believe in them, they gain confidence and develop the attitude of &lsquo;Yes, I can do this.&rsquo;  Thus, we find ourselves with young adults with wonderful feelings of self-worth and confidence.  My son Jason recently told a doctor that he was an adult young man and he could make his own decisions!  It certainly did make the doctor sit back and reassess; and he treated Jason differently from then on.</q></p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/jason1.jpg" alt="Jason Marick, age 2">
    <figcaption class="figure__item caption">Jason Marick, age 2.</figcaption>
  </figure>

  <p>Kay Parks, a founder with Marick of the PRIDE Program, says Val Dmitriev taught parents from day one through the early
    education program, <q>that it was our responsibility to learn to teach and to teach our children, whether at home or after they entered the school system.</q>    She says that has not changed, although she thinks parents need to be reminded first and foremost that it IS their job.
    <q>The Pride Program provided the assessment and the curriculum that needed to be followed at home, and we were expected to put in the time to do it.  Over the years, the biggest take away I have heard from other families that attended Pride, was &lsquo;Pride empowered me to advocate for my child&rsquo;.  I think Val taught the parents how to teach everyone around them that their kids were worth being included and that inclusion should be a person-specific goal--what is best for each child.  Val&rsquo;s perspective on what MY responsibilities were was huge in the success of my son's life.</q></p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/pride.jpg" alt="Val Dmitriev &amp; Kay Parks at PRIDE, 1970's">
    <figcaption class="figure__item caption">Val Dmitriev &amp; Kay Parks at PRIDE, 1970&rsquo;s.</figcaption>
  </figure>

  <p>PRIDE currently has a strong birth to three program and then the children go to the public school programs. The children
    three to seven who continue at PRIDE are coming for speech, physical and occupational therapies only, not classroom time.
    But while PRIDE today is somewhat different from the original days, the intent is still a coaching method to help teach
    parents how to work with their children and advocate for them. This same one-on-one educational approach works with many
    other disabilities as well.</p>

  <h4>The Val Dmitriev Courtyard</h4>
  <p>The parents and supporters of PRIDE School raised funds over a number of years to create a special <q>outdoor classroom</q>    designed for children with disabilities. Named <q>Alexi&rsquo;s Garden and the Val Dmitriev Courtyard,</q> it was dedicated
    August 19, 2006, to the memory of an inspirational child in the program and in gratitude to the inspirational teacher
    who helped found PRIDE. The plaque in the courtyard reads: <q>Val&rsquo;s work with families is done with warmth, dignity, and compassion.  Her work has transformed the lives of thousands of children and their families.</q></p>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/courtyard.jpg" alt="Val Dmitriev Courtyard at PRIDE">
    <figcaption class="figure__item caption">Val Dmitriev Courtyard at PRIDE</figcaption>
  </figure>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/courtyard2.jpg" alt="Val Dmitriev Courtyard at PRIDE">
    <figcaption class="figure__item caption">Val Dmitriev Courtyard at PRIDE.</figcaption>
  </figure>

  <p>See also Arc of Clark County PRIDE for Kids Family Therapy Center and Dmitriev Courtyard.</p>
  <p><a href="http://www.arcofclarkcounty.org/children-families/pride-for-kids">arcofclarkcounty.org</a></p>

  <p><a href="http://www.google.com/search?q=The+Val+Dmitriev+Courtyard+at+PRIDE+School+Vancouver&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a">Google links to PRIDE School, Vancouver, WA</a></p>
</article>
