<article class="article fade-in two">
  <header class="article__header">
    <h2>How It Began: <br>1965-1971</h2>
    <h4>Patricia Oelwein</h4>
  </header>

  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/main4.jpg" alt="Val Dmitriev, Instructor, Workshop in Special Education, summer, early 1970's">
    <figcaption class="figure__item caption">Val Dmitriev, Instructor, Workshop in Special Education, summer, early 1970&rsquo;s.</figcaption>
  </figure>

  <p class="booktitle">(This is a personal history of the Down Syndrome Program told in the first person. This part of the history, before I,
    Pat Oelwein, joined the program, is based on Dr. Valentine Dmitriev&rsquo;s personal story from her book, &ldquo;Tears
    &amp; Triumphs.&rdquo; To keep with the informality, I will often refer to her as Val, a very endearing name to me.)
  </p>
  <p>The Down Syndrome Program has its roots in behavior modification--roots that go to B. F. Skinner himself. Dr. Sidney W.
    Bijou, a professor of psychology on sabbatical from the University of Washington (UW), studied under Skinner at Harvard
    University. When he returned to the UW, the psychology department as well as the special education department took a
    new direction, the principles of behavior became the basis on which methodologies, interventions, and treatments were
    developed. Valentine Dmitriev, the instigator and first coordinator of the Down Syndrome Program, was a student and protégé
    of Dr. Bijou.
  </p>
  <p>Val Dmitriev took her first graduate course at Rainier School at Buckley. It was an inspiring behavioral-oriented course
    taught by Dr. Barbara Etzel in conjunction with the University of Washington&rsquo;s Institute of Child Development,
    of which Dr. Bijou was director. While in graduate school, Val became the teacher of the preschool class for typical
    3-year-old children at Developmental Psychology Lab (DPL), one of three divisions of the institute. In the preschool
    classroom, she worked under the supervision of Florence Harris. For outside special projects with children who had developmental
    delays and challenging behaviors, Dr. Bijou was her mentor.
  </p>
  <h4>The Fircrest experience
  </h4>
  <p>In the summer of 1967 Val accepted an assignment to develop a pilot educational program for forty residents at Fircrest,
    a state school for children and adults with disabilities. With two experienced teachers and an audiologist on her staff,
    she met the challenge and succeeded in developing an effective program that was continued at the school for a number
    of years.
  </p>
  <p>Although the Fircrest program was a success, when Val returned to her job at the DPL, she could not dispel the feeling
    of dismay that had tinged her sense of achievement with the Pilot Program. It was troubling that the very skills which
    she and her team had taught the Fircrest students, who were nine to fifteen years old, were the same skills that were
    acquired by non-disabled children within the first three years of life. She came to the realization that it was inhumane
    to allow such delays to occur and began to plot a plan to systematically intervene with infants by teaching them basic
    sequential developmental skills that emerge in normal babies when provided with a nurturing and enriching environment.
    But where would she find these babies? Developmental delays during the first months were difficult to detect, and if
    detected, these babies could be just &ldquo;late bloomers&rdquo;. At the time, the collective thought among medical and
    educational professionals was that maturation would eventually overcome delays and developmental gains would be attributed
    to maturation rather than intervention.
  </p>
  <h4>Down syndrome early intervention research
  </h4>
  <p>Back at her job at the DPL, Val pondered these problems and decided to focus on infants with Down syndrome, a group that
    could be recognized at birth and verified by a blood test. The incidence at the time was one in 640 live births, and
    Down syndrome occurred in all races and at all socioeconomic levels. Her experience with students who had Down syndrome
    at Fircrest had caused her to doubt the validity of the traditional pessimistic view of these children and the classification
    that put them in the &ldquo;trainable only&rdquo; category. She speculated that the myths and attitudes about this population
    were based on hearsay, misinformation, and observations of children in institutions who had been deprived of nurturing
    families in home environments, adequate medical care, appropriate educational opportunities, and from any form of a normalized
    life.
  </p>
  <h4>Dennis &ndash; Love at first sight
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/dennis4.jpg" alt="Dennis Holton in preschool.">
    <figcaption class="figure__item caption">Dennis Holton in preschool.</figcaption>
  </figure>
  <p>As the possibilities of these intriguing ideas were racing through her mind, Val was in no hurry, thinking that she could
    &ldquo;bide her time&rdquo; while fully formulating her plan. But fate has a way of intervening Dennis came into her
    life and put her on a rapid path that carried her and her ideas farther than she ever dreamed possible.
  </p>
  <p>The moment Val spotted seven-month-old Dennis in an infant carrier on his mother&rsquo;s back, with both his legs in hip-high
    casts, she felt an overwhelming urgency and approached his mother, who had come to pick up her older son who attended
    the preschool for four-year-old children. His mother listened intensely as Val told of her untried plans and reassured
    her with her knowledge of and background in child development. Dennis&rsquo;s mother eased the carrier off her shoulders,
    lifted Dennis out and said, &ldquo;Here he is.&rdquo;
  </p>
  <p>Thus was the beginning of Val Dmitriev&rsquo;s pilot program for infants with Down syndrome. She worked with Dennis four
    days a week for twenty minutes each time his mother came to pick up his brother. Dennis loved the homemade apple butter
    that his mother brought to the sessions. Reinforced by this treat, Dennis became an eager pupil. In a rapid sequence
    he learned to reach and grasp toys, mastering progressively more difficult tasks. Four months later, the casts that corrected
    his clubfeet were removed, and Dennis learned to crawl, stand, bear weight, pull up to stand and to take his first steps,
    holding on to furniture. His accomplishments were documented in the movie, <q>The Operant Conditioning of a Down&rsquo;s Syndrome Infant</q>.
  </p>
  <h4>Experimental Education Unit &ndash; A new home
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/hayden.jpg" alt="Dr. Alice Hayden, Director, Model Preschool Center, EEU">
    <figcaption class="figure__item caption">Dr. Alice Hayden, Director, Model Preschool Center, EEU</figcaption>
  </figure>
  <p>Impressed with Dennis&rsquo;s progress, his pediatrician, who was head of pediatrics for the local HMO, told his staff
    to refer all babies with Down syndrome to Val Dmitriev at the DPL. By the end of 1969, Val had more babies than she could
    schedule around her DPL classroom responsibilities, and with infants on the waiting list and some becoming toddlers,
    she and Florence Harris agreed it was time for Val and her infants to move on.
  </p>
  <p>The Experimental Education Unit (EEU, currently one of three units of the Norris &amp; Dorothy Haring Center for Applied
    Research &amp; Training in Education), the education component of the Child Development and Retardation Center (currently
    Center on Human Development and Disability), was the place for innovative education programs using the empirical method.
    Dr. Alice Hayden, director of the Model Preschool Center in the EEU, and Dr. Norris Haring, director of EEU, were most
    interested in Val&rsquo;s project Word had traveled fast.
  </p>

  <h4>The Down Syndrome Preschool
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/dsp1.jpg" alt="Dr. Alice Hayden, Director, Model Preschool Center, EEU">
  </figure>
  <p>Val Dmitriev joined the EEU academic staff in 1970. She was given an office but not a classroom. Her responsibilities consisted
    of conducting workshops, serving as a resource teacher and consulting with Head Start and special education teachers.
    She continued seeing infants, whenever she could schedule them and wherever she could find space. Dr. Hayden had given
    her a vague promise of a classroom for her project, but Val was unaware that Hayden and Haring had submitted her proposal
    to Handicapped Children&rsquo;s Early Education Programs (HCEEP). Val was very pleasantly surprised when she was told
    that her project had received federal funding. Her dream of a preschool for children with Down syndrome came true. January
    1971 was the official start of the Down Syndrome Program with 11 children. This program is now celebrating its 40th anniversary.
  </p>

  <h4>Workshop in Special Education
  </h4>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/scott1.jpg" alt="Val working with Scott.">
    <figcaption class="figure__item caption">Val working with Scott.</figcaption>
  </figure>
  <p>In the summer of 1971, I attended a three-week course, <q>Workshop in Special Education 496</q>. Valentine Dmitriev, the
    instructor, was also the coordinator of the Down Syndrome Program. Our &ldquo;lab&rdquo; was the demonstration classroom
    for preschool children with Down syndrome. Enthralled with what I was learning and observing, I became very excited about
    the methodology, empirical method using the principles of behavior developed by Skinner, and the impact the application
    of these principles was having on the children I observed. It was truly remarkable! They were exceeding all previous
    expectations! With these remarkable tools, anything seemed possible!
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/kim.jpg" alt="Val Dmitriev assessing Kim, as she entered the first class in 1971.">
    <figcaption class="figure__item caption">Val Dmitriev assessing Kim, as she entered the first class in 1971.</figcaption>
  </figure>

  <p>Just as Val had been inspired by Dr. Etzel&rsquo;s course at Rainier School, I, in turn, was inspired by Val&rsquo;s presentation.
    I still have the textbook from the workshop, <span class="booktitle"><q>The Analysis of Human Operant Behavior</q></span>.
    This book, in addition to the training I had, provided me with the principles of behavior that have been so valuable
    in my work as well as in my personal life.
  </p>
  <p>The principles of behavior developed by B. F. Skinner provide powerful tools for teaching positive behaviors. It was through
    teaching pigeons to perform specific behaviors that Skinner developed these principles. As the story goes, when Skinner
    was in the military he had a boring office job. As a diversion from boredom, he started feeding peanuts to the pigeons
    that flew to his office windowsill. Just feeding pigeons became boring as well, so he started teaching them &ldquo;tricks&rdquo;
    using the peanuts to reward the pigeons for each successive behavior that led to the completion of the tricks. He later
    took his experiments with pigeons to the laboratory, expanded on his research, identified the principles that he discovered,
    and demonstrated the many applications of the systematic application of these principles to human beings.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/program/bj2.jpg" alt="Val with Jeff and B.J..">
    <figcaption class="figure__item caption">Val with Jeff and B.J..</figcaption>
  </figure>
  <p>It was a film that Val Dmitriev showed in her workshop, demonstrating how these behavioral principles were used to teach
    a pigeon to &ldquo;read&rdquo; the words &ldquo;turn&rdquo; and &ldquo;peck&rdquo; that I found most inspiring. If you
    can teach pigeons to read, though it was limited to two words, just imagine what you could teach children with Down syndrome!
  </p>
  <h4>Opportunity of a lifetime
  </h4>
  <p>Starting January 1972, I had the opportunity to put my enthusiasm and recently acquired knowledge to work. Dr. Dmitriev,
    who had been impressed with a mnemonic I had drawn (you never know what will change your life), hired me as teacher in
    the demonstration classroom that had made such an impression on me. This was the beginning of my long and very rewarding
    career as a specialist in the early and continuous education for children with Down syndrome, a career that continues
    to this day. I shall always be grateful to Val for giving me this opportunity of a lifetime, and to the children that
    made this career possible. They taught me how to teach. The teachers were partners with their pupils in learning, each
    depending on the success of the other. Their success brought our success, and it was our joint achievements that brought
    forth new perspectives on Down syndrome. A new era.
  </p>

</article>
