<header class="subheader">
  <ul  class="subheader__nav fathers">
    <li routerLinkActive="active" class="nav-item"><a routerLink="sefambg" class="nav-link">Serving Extended Family Members</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="meyerschell" class="nav-link">Fathers Network / Sibling Support Project</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="fathersstory" class="nav-link">A Father's Story</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="sibstories" class="nav-link">A Tale of Two Sisters</a></li>
  </ul>
</header>
    <router-outlet></router-outlet>

