<article class="article fade-in two">
  <header class="article__header">
    <h1>A Tribute to Bronwyn Joy (B.J.) Hill, <br>1968-1977</h1>
    <blockquote>
      <q>She is a wee one, but a great joy.</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/bj1.jpg" alt="B. J. with her mother the first day of school at Green Lake Elementary (1974)." />
      <figcaption class="figure__item caption">
        B. J. with her mother the first day of school at Green Lake Elementary (1974).
      </figcaption>
    </figure>
  </header>

  <p>Bronwyn Joy lived up to her name as her mother would say, <q>She is a wee one, but a great joy.</q>   From the time she entered the program as a toddler until a virus took her away at 8 years of age, she gave us all joy and memories that will never die.  A bright, observant, inquisitive child, nothing seemed to escape her.  She took to phonics &lsquo;like a duck to water&rsquo;, and we never tired of the videotape of her sounding out consonant blends, a real accomplishment for a child 5 years old.  (The CDMRC psychologist who tested her said she was reading on the second grade level.)
  </p>
  <p>Memories are captured on videotape, such as the time she reminded her teacher to record her data, and when she told the teacher, during a long videotaping session, <q>You forgot the Neapolitan ice cream.</q>  And then there are those that were not recorded, but not forgotten. In kindergarten she was telling the class about her vacation, a family boat trip.  When asked where they went, we could not understand her answer.  As the teachers eyes locked questioningly, and asked her to repeat the name of the place, she replied in exasperation, <q>Oh, let&rsquo;s just call it Newport Beach!</q>
  </p>
  <p>When B.J. went to Green Lake School, she and a teacher were walking down the hall when B.J. noticed a note on a door and stopped to read it.  After a glance, she said, <q>Oh, no!  It&rsquo;s in cursive! I can&rsquo;t read it!</q>
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/bj3.jpg" alt="B. J. and Kim in the EEU play court." />
    <figcaption class="figure__item caption">
      B. J. and Kim in the EEU play court.
    </figcaption>
  </figure>

  <p>Perhaps the most repeated story about B.J. occurred soon after she had started in the reading program.  She was sitting in the shopping cart as her mother was checking out at the grocery store, and noticed the cover on TIME magazine a photo of a family holding a big sign that said <q>Welcome Home, Daddy</q> (from the Viet Nam war).  B.J. pointed and read, <q>Daddy!</q>  Mrs. Hill related how shocked the clerk was, and how proud she was of B.J. and we all shared her pride and joy.
  </p>
  <p>Her mother, Gaye Hill, born in Ireland, a gracious and charming woman and a wonderful mother, died this spring (2011) in Pennsylvania.  When I last spoke with her, in 1994, I asked if I could use Bronwyn Joy&rsquo;s name in the dedication of my book. She replied, <q>Yes, by all means!  She&rsquo;s up there looking down on us and she will read it.</q>
  </p>
  <p class="bottomfill2">Patricia Oelwein<br />
    May, 2011</p>
</article>
