<section class="program">
  <div class="sidebar">
    <h3>Student Profiles</h3>
    <ul class="sidebar__nav">
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="jeff" class="nav-link">Jeff Benson</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="christy" class="nav-link">Christy Byron</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="lupita" class="nav-link">Lupita Cano</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="patrick" class="nav-link">Patrick Evezich</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="aaron" class="nav-link">Aaron Gallant</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="martha" class="nav-link">Martha Hinojosa</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="kari" class="nav-link">Kari Sellars</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="alison" class="nav-link">Alison Sienkewicz</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="melinda" class="nav-link">Melinda Teeny</a></li>
    </ul>
    <h3>Student Tributes</h3>
    <ul class="sidebar__nav">
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="glenn" class="nav-link">Glenn Farmer</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="bronwyn" class="nav-link">Bronwyn Joy Hill</a></li>
      <li routerLinkActive="active" class="nav-item nav-profile"><a routerLink="dennis" class="nav-link">Dennis Holton</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
