<article class="article fade-in two">
  <header class="article__header">
    <h1>Patrick Evezich</h1>
    <blockquote>
      <q>In 1993, I began work at Microsoft. I have held a variety of jobs there and now work as an administrative clerk</q>
    </blockquote>
    <figure class="figure">
      <img class="figure__item image" src="assets/images/students/Patrick1.jpg" alt="Patrick waving to the audience" />
      <figcaption class="figure__item caption">
        Patrick giving a speech at the Kinderling auction.
      </figcaption>
    </figure>
  </header>

  <p>Patrick Evezich gave the following speech at the Kindering Center Auction, November 2007. During his speech alone he raised $159,000.  Patrick went to Japan twice to help promote early intervention. The first time, he and his parents traveled to Japan with Val Dmitriev, and the second time with Pat Oelwein.</p>

  <h2>Patrick&#8217;s Speech at Kindering Auction</h2>
  <p>Hello.
  <p>Thank you Julie, for your kind introduction.</p>
  <p>My name is Patrick Evezich.  I am thirty nine years old, have brown hair brown eyes, love telling jokes, . and by the way, I was  born with Down syndrome.
  </p>
  <p>I am here tonight to tell you my story, and how early intervention has influenced my life.  Let me begin by saying that I was born in California, but moved to Bellevue when I was a baby. I have one brother, two sisters, one  niece, and six nephews.
  </p>
  <p>When I was born, the public and even the medical community knew very little about Down syndrome.  My first experience with early intervention came when I was fifteen months old when my parents were fortunate enough to discover the Kindering Center. At that time, the Center was housed in the basement of a church in West Bellevue.
  </p>
  <p>I was one of eight children that attended classes on a weekly basis and it was the beginning of a lifetime of learning My parents have told me that for them, it was a chance to realize their dream of a wonderful life for me.
  </p>
  <p>With my background from the Kindering Center, I was chosen to be one of the first five children to attend the new early intervention program at the University of Washington. From there I went on to Green Lake elementary school, and then on to Eastside Catholic High School.
  </p>
  <p>I loved high school because I became involved in so many things.  I took a variety of classes, such as math, religion, and literature, as well as typing and computer classes. I still really enjoy using the computer now. I was manager of the football team, swam on the swim team for three years, and went to the prom every year. I even had a girl friend.
  </p>
  <p>Because of my early education, I was able to learn and communicate with the other students.  We ate lunch together and had lots of fun. I was really happy when I got to lead my class as they entered the graduation ceremony!  I still stay in touch with many of my Eastside friends.  I go to lunch or talk on the phone with them, and I just attended my 20 year reunion.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/patrick3.jpg" alt="McNeil Legends Night 8-5-08" />
    <figcaption class="figure__item caption">
      McNeil Legends Night 8-5-08.
    </figcaption>
  </figure>

  <p>After High School, I decided I needed more education, and enrolled at Bellevue Community College. Once again, it was a great experience because I took a lot of classes, learned so many things, and met new people. I was there for three years.
  </p>
  <p>Along the way I had a lot of jobs, beginning with janitorial and clerical jobs in my dad&#8217;s company.  I later worked as an assistant landscaper with the Bellevue public schools and in the copy center at the University of Washington Law School. I began taking the bus to work in Seattle from my home in Bellevue by myself at age 12.
  </p>
  <p>In 1993, I began work at Microsoft.  I have held a variety of jobs there and now work as an administrative clerk. As Julie has mentioned, I fit right in and am part of a team building a new server operation.
  </p>

  <p>My day starts early, at 5:30am because I have to take two buses to work. When my job starts at 8:30, I check email, get organized, meet with my team leader, and begin work.I work in various locations and do a variety of jobs throughout the day.
  </p>
  <p>My tasks include setting up servers, relocating equipment, and taking inventory of the computing hardware. For this, I use a scanner and a computer, loaded with Microsoft Excel. My team recently completed inventory of every piece of equipment on the Microsoft campus, one month ahead of schedule!
  </p>
  <p>I enjoy my job because I like hard work and being busy all day.  I love being part of my team. I finish work at 4:30 and get home around 6pm.  After my chores, I am ready to relax.  I like to read, exercise, listen to all kinds of music, sing, go to parties, and watch movies.I really love the Three Stooges and am great at telling jokesI even crack myself up!  My dad and I kid around a lot, and I usually get the best of him.
  </p>
  <p>I live with my parents, but when they go to our vacation home in Phoenix or on trips, I live by myself.  Even when they are home, I make my own decisions, do my own shopping, pick up prescriptions, order pizza, do some cooking and laundry and take care of myself. Like the rest of you, I vote and pay taxes. I go to church and volunteer. I am proud that I am a responsible member of my community.
  </p>
  <figure class="figure">
    <img class="figure__item image" src="assets/images/students/patrick2.jpg" alt="Patrick &amp; Parents in Okinawa, Japan, clipping from newspaper, 1989" />
    <figcaption class="figure__item caption">
      Patrick &amp; Parents in Okinawa, Japan, clipping from newspaper, 1989.
    </figcaption>
  </figure>

  <p>On two different occasions I traveled to Japan on University of Washington sponsored speaking tours. I spoke in twenty cities with the purpose of teaching Japanese teachers and families about the power of early intervention. At least two schools, modeled on the Kindering Center, have now been established.
  </p>

  <p>When I have vacation time, I hop on a plane to Phoenix for some sun. I also like to go to Las Vegas with my dad and my brother. I don&#8217;t win big, but I make a lot of friends!
  </p>
  <p>I am very proud of my life.
  </p>
  <p>My parents, family, and friends have really helped me learn to be an independent person, and I love it.
  </p>
  <p>I AM A HAPPY MAN!!
  </p>

  <p>I want to thank all of you for inviting me to talk to you about my life this evening, and thank you for coming here tonight to support the Kindering Center.
  </p>

  <p>See also<br />
    <a href="http://www.kindering.org/">http://www.kindering.org/</a></p>
</article>
