<section class="home">
  <article class="intro fade-in two">
    <h1>A New Era for Down Syndrome</h1>
    <h2>Welcome</h2>
    <p>In January 1971 a new era in the lives of children with Down syndrome, their families, and their teachers began with a class of eleven preschool children.
    </p>
    <p>This website documents the accomplishments of the Down Syndrome Program that was developed at the Experimental Education Unit, Center on Human Development and Disability and the College of Education, University of Washington, Seattle, Washington on the 40th anniversary of the its launch.
    </p>
    <p>Dr. Valentine Dmitriev, the program's first coordinator, conceived and implemented this innovative program that provided systematic early and continuous intervention that started in infancy. The principal investigators of this demonstration program were Dr. Norris Haring and Dr. Alice Hayden. The original funding was from Handicapped Children's Early Education Programs (HCEEP).
    </p>
    <p>Within four years the program gained world renown and demonstrated effective early intervention and educational approaches for children with Down syndrome. The reading program developed by Patricia Oelwein proved that children with Down syndrome were capable learners and able readers, they learned to read on their way to kindergarten and they thrived when included in all aspects of community and family life.
    </p>
    <p>The pages of this website contain the work of Dmitriev and Oelwein that has reached six continents, as well as on-going programs that originated in the Down Syndrome Program Father's Network, Sibling Support Project, and the Literacy Program. The impact of the program's philosophy and methodology is expressed in accompanying stories from educators and family members and by profiles of the pioneer students.
    </p>
    <p>We invite you to contribute your experience and comments as we salute this special community on the 40th anniversary of the founding of the program.</p>
  </article>

  <div class="images">
    <figure class="figure welcome">
      <img class="figure__item image" src="assets/images/welcome01.jpg" alt="Jenny playing the part of the sun in the ballet, Botany 101.">
      <figcaption class="figure__item caption">Jenny playing the part of &lsquo;the sun&rsquo; in the ballet, Botany 101.</figcaption>
    </figure>
    <figure class="figure welcome">
      <img class="figure__item image welcome" src="assets/images/welcome02.jpg" alt="Aaron reading from an Early Reading series at age 4.">
      <figcaption class="figure__item caption">Aaron reading from an Early Reading series at age 4.</figcaption>
    </figure>
  </div>


</section>
